{% extends "layout.html" %}

{% block title %}Contribution{% endblock %}
{% block lead %}
    <div class="page-header" id="home-header"><!--todo change header id-->
        <h1>Contribution</h1>
    </div>
{% endblock %}
{% block page_content %}
<div data-bs-spy="scroll" data-bs-target="#myScrollspy" data-bs-offset="80" tabindex="0" id="header-padding">
    <div class="container">
        <div class="row">
            <nav class="col-12 col-md-3 col-lg-2" id="myScrollspy" aria-label="Page section navigation">
                <div class="sticky-lg-top scrollspy-offset">
                    <nav class="nav nav-pills flex-column" role="navigation">
                        <a class="nav-link" href="#overview" aria-current="false">Overview</a>
                        <a class="nav-link" href="#education" aria-current="false">Education</a>
                    </nav>
                </div>
            </nav>

            <!--main content-->
            <div class="col-12 col-md-9" id="bumper">
                <div id="overview" class="mb-5">
                    <h1>Overview</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
                <hr/>
                <div id="education" class="mb-5">
                    <h1>Education</h1>
                    <h2>Strawberry DNA Activity (Chinese Translation)</h2>
                    <p>
                        Avery translated the strawberry DNA activity protocol into Chinese. 
                        The protocol contains English, Chinese, and Chinese romanization (Pinyin) for convenient multilingual use.
                    </p>
                    <p class="d-inline-flex gap-1">
                        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseStrawberry" role="button" aria-expanded="false" aria-controls="collapseStrawberry" aria-label="Toggle the protocol translation pdf">
                            Read the translation
                        </a>
                    </p>
                    <div class="collapse" id="collapseStrawberry">
                        <div class="card card-body">
                            <embed type="application/pdf" class="full-pdf" src="https://static.igem.wiki/teams/5761/humanpractices/education/chinesecaomeidnaprotocol.pdf" aria-label="protocol translation">
                        </div>
                    </div>

                    <h2>DNA Bracelet Activity</h2>
                    <p>
                        Our team created a DNA bracelet activity to teach the central dogma to younger children through a fun activity. 
                        We made versions in English and a mix of English and Spanish, designed for Spanish-immersion students in the United States.
                    </p>
                    <p>
                        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseDNAEnglish" role="button" aria-expanded="false" aria-controls="collapseDNAEnglish" aria-label="Toggle the activity worksheet in English pdf">
                            Read the worksheet in English
                        </a>
                    </p>
                    <div class="collapse" id="collapseDNAEnglish">
                        <div class="card card-body">
                            <embed type="application/pdf" class="full-pdf" src="https://static.igem.wiki/teams/5761/humanpractices/education/dnabracelet-english.pdf" aria-label="activity worksheet in English">
                        </div>
                    </div>
                    <p>
                        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseDNASpanish" role="button" aria-expanded="false" aria-controls="collapseDNASpanish" aria-label="Toggle the activity worksheet in English and Spanish pdf">
                            Read the worksheet in English and Spanish
                        </a>
                    </p>
                    <div class="collapse" id="collapseDNASpanish">
                        <div class="card card-body">
                            <embed type="application/pdf" class="full-pdf" src="https://static.igem.wiki/teams/5761/humanpractices/education/dnabracelet-spanish.pdf" aria-label="activity worksheet in English and Spanish">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
