{% extends "layout.html" %}
  
{% block title %}Project Description{% endblock %}
{% block lead %}Describe how and why you chose your iGEM project.{% endblock %}

{% block page_content %}
<div class="row">
  <h1>Abstract</h1>
  <p>tbd</p>
  <h1>Issue</h1>
  <p>With microplastics now found in human bloodstreams, brains and the food chain, the need for synthetic biology solutions like ours has never been more urgent. Jambeck et al. finds that 5 to 12 million tons of plastic enter the ocean yearly, decomposing into microplastics and harming both the environment and humans. Efforts that recollect plastics from the environment often end up in landfills and waste water treatments, where the microplastics leak back into the environment (Illinois Sustainable Technology Center). At the same time, the U.S. Geological Survey reports that 1 billion tons of limestone are quarried yearly in the United States alone. </p>
  <h1>Current solutions</h1>
  <p>tbd</p>
  <h1>Our Solution</h1>
  <p>Our iGEM team is engineering E. coli to co-express plastic-binding curli fibers and a biomineralization pathway in order to capture microplastics in in situ limestone formations. In particular, we are using microbially induced calcite precipitation (MICP) for biomineralization, primarily experimenting with two different pathways: a carbonic anhydrase catalyzed pathway and a urease catalyzed pathway. 
  </p>
  <h1>Impacts</h1>
  <p>tbd</p>
  <h1>References</h1>
  <p>Are we using apa or what???</p>
</div>
{% endblock %}
