{% extends "layout.html" %}

{% block title %}Project Description{% endblock %}
{% block lead %}
  <div class="page-header" id="home-header"><!--todo change header id-->
      <h1>Description</h1>
  </div>
{% endblock %}
{% block page_content %}

<div data-bs-spy="scroll" data-bs-target="#myScrollspy" data-bs-offset="80" tabindex="0">

  <div class="container">
    <div class="row">
      <!-- Scrollspy Sidebar -->
      
      <nav class="col-12 col-md-3 col-lg-2" id="myScrollspy" aria-label="Page section navigation">
        <div class="sticky-lg-top scrollspy-offset">
          <nav class="nav nav-pills flex-column" role="navigation">
            <a class="nav-link" href="#section1">Abstract</a>
            <a class="nav-link" href="#section2">Issue</a>
            <a class="nav-link" href="#section3">Our Solution</a>
            <a class="nav-link" href="#section4">Impacts</a>
            <a class="nav-link" href="#section5">References</a>
          </nav>
        </div>
      </nav>

      <!-- Main Content -->
      <div class="col-12 col-md-9" id="bumper">
        <div id="section1" class="mb-5">
          <h1>Abstract</h1>
          <p>tbd</p>
        </div>
        
        <div id="section2" class="mb-5">
          <h1>Issue</h1>
          <p>With microplastics now found in human bloodstreams, brains and the food chain, the need for synthetic biology solutions like ours has never been more urgent. Jambeck et al. finds that 5 to 12 million tons of plastic enter the ocean yearly, decomposing into microplastics and harming both the environment and humans. Efforts that recollect plastics from the environment often end up in landfills and waste water treatments, where the microplastics leak back into the environment (Illinois Sustainable Technology Center). At the same time, the U.S. Geological Survey reports that 1 billion tons of limestone are quarried yearly in the United States alone. </p>
        </div>
        
        <div id="section3" class="mb-5">
          <h1>Our Solution</h1>
          <p>Our iGEM team is engineering E. coli to co-express plastic-binding curli fibers and a biomineralization pathway in order to capture microplastics in in situ limestone formations. In particular, we are using microbially induced calcite precipitation (MICP) for biomineralization, primarily experimenting with two different pathways: a carbonic anhydrase catalyzed pathway and a urease catalyzed pathway. 
        </div>

        <div id="section4" class="mb-5">
          <h1>Impacts</h1>
          <p>tbd</p>
        </div>

        <div id="section5" class="mb-5">
          <h1>References</h1>
          <p>tbd</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
