{% extends "layout.html" %}
  
{% block title %}Education{% endblock %}

{% block page_content %}


<div class="row mt-4">
  <div class="col-md-9">
    <img src="https://static.igem.wiki/teams/5761/humanpractices/education/2nd-presented-schools.webp" alt="Map of locations of our educational intiatives." class="img-fluid">
  </div>
  <div class="col-md-3">
    <img src="https://static.igem.wiki/teams/5761/humanpractices/education/salkhan.webp" alt="Sal Khan photo" class="img-fluid">
    <h3 class="py-2" style="font-size:large"><b>Sal Khan, Founder of Khan Academy and Khan Lab School</b></h3>
    <p> “Whoever you are, wherever you are, you only need to know one thing.  You can learn anything.” — Sal Khan</p>
  </div>
</div>
<div class="row mt-4 justify-content-center">
  <div class="video-container">
    <iframe title="KhanLab-BayArea: Sal Khan on Education in Science (2025) [English]" width="560" height="315" src="https://video.igem.org/videos/embed/q7ZT5Fv4YzLrTf3mYz3HAF" style="border: 0px;" allow="fullscreen" sandbox="allow-same-origin allow-scripts allow-popups allow-forms"></iframe>
  </div>
</div>
<hr/>

<div data-bs-spy="scroll" data-bs-target="#myScrollspy"  data-bs-offset="80" tabindex="0">
  <div class="container">
    <div class="row">
      <!-- Scrollspy Sidebar -->
      <nav class="col-12 col-md-3 col-lg-2" id="myScrollspy">
        <div class="sticky-lg-top scrollspy-offset">
          <nav class="nav nav-pills flex-column">
            <a class="nav-link" href="#overview">Overview</a>
            <a class="nav-link" href="#class">Synthetic Biology Class</a>
            <a class="nav-link" href="#helios">Helios School</a>
            <a class="nav-link" href="#laurel">Laurel Elementary</a>
            <a class="nav-link" href="#temple">Krishnadham Temple</a>
            <a class="nav-link" href="#chinese">Chinese Student Visit</a>
            <a class="nav-link" href="#kit">Stanford CRISPR Kit</a>
              <a class="nav-link ms-3 my-1" href="#week1">Week 1</a>
              <a class="nav-link ms-3 my-1" href="#week2">Week 2</a>
              <a class="nav-link ms-3 my-1" href="#week3">Week 3</a>
            <a class="nav-link" href="#sum">Summary</a>
          </nav>
        </div>
      </nav>
  
      <!-- Main Content -->
      <div class="col-12 col-md-9" id="bumper">
        <div id="overview" class="mb-5 row">
          <h1>Overview</h1>
          <div class="col-10">
          <p>
            Inspired by Sal Khan's contributions to the educational world, we wanted to make synthetic biology accessible to our local community.
            We found that many, especially younger students, were intimidated by synthetic biology as it seems inaccesible.
            Therefore, our efforts focused on bringing synthetic biology to various students through classes and teaching students that biology and synthetic biology are everywhere.
            We believe that once students understand the fundamentals of biology, they are better equipped to learn the role of synthetic biology in the world.
          </p>
          </div>
          <div class="col-2">
            <img src="https://static.igem.wiki/teams/5761/other/mr-mp.webp" class="img-fluid">
          </div>
        </div>
        <hr/>
          
          <!--synbio class-->
          <div id="class" class="mb-5">
            <h1>Synthetic Biology Class</h1>
            <p>Date: April - June 2024</p>
            <p>To familiarize the team with the molecular biology techniques used within synthetic biology, a 10 week long course with lectures and labs was developed and run by our team captain, Ansh. 
              The course assumed knowledge of basic biochemistry concepts taught by our team in a similar course last year. Both iGEM members and non-members were encouraged to join.
              The new techniques taught this year allowed students to run labs such as transforming plasmids from the iGEM distribution kit into E.coli. 
              At the end of the course, students worked together to design, execute, and document an experiment to assay the efficency of a custom made centrifuge and thermocycler.</p>
            <p style="font-size:large;"><a href="https://static.igem.wiki/teams/5761/humanpractices/education/sbclass/syllabus.pdf" target="_blank"><b>Syllabus</b></a></p>
            <h3>Curriculum overview:</h3>
            <ul>
              <li>Week 1: Transcription, Translation, and the Central Dogma</li>
              <li>Week 2: Genetic editing - Historical and Modern approaches</li>
              <li>Week 3: Lab techniques - Aseptic technique and DNA replication</li>
            </ul>
              <figure class="py-3">              
                <img src="https://static.igem.wiki/teams/5761/humanpractices/education/asepticpetricropped.webp" alt="petri dishes from the aseptic lab" class="img-fluid">
                <figcaption>Petri dish results from the aseptic technique lab.</figcaption>
              </figure>
            <ul>
              <li>Week 4: Plasmid Techniques Overview</li>
              <li>Week 5: Experiment Design and Inducible Promoters</li>   
              <a href="https://static.igem.wiki/teams/5761/humanpractices/education/sbclass/week5transformation.pdf" target="_blank">Protocol used in Week 5</a>
              <li>Week 6: Sequencing and Optogenetics </li>
              <li>Weeks 7-10: Characterizing Experimental Equipment</li>
            </ul>  
              <!--microcentrifuge and themocycler photos-->
              <figure class="py-3">
                <div class="row">
                  <div class="col-xl d-flex justify-content-center">
                    <img src="https://static.igem.wiki/teams/5761/humanpractices/education/microcentrifuge.webp" alt="Microcentrifuge prototype" class="img-fluid">
                  </div>
                  <div class="col-xl d-flex justify-content-center">
                    <img src="https://static.igem.wiki/teams/5761/humanpractices/education/thermocycler.webp" alt="Thermocycler prototype" class="img-fluid">
                  </div>
                </div>
                <figcaption>Prototype microcentrifuge and thermocycler.</figcaption>
              </figure>
            <!--PDFS-->
            <p><b>Material produced by students:</b></p>
            <p><a href="https://static.igem.wiki/teams/5761/humanpractices/education/sbclass/thermocycler.pdf" target="_blank">Final Report: Affordable Thermocycler Design</a></p>
            <p><a href="https://static.igem.wiki/teams/5761/humanpractices/education/sbclass/microcentrifuge.pdf" target="_blank">Final Report: Affordable Centrifuge Design</a></p>
          </div>
          <hr/>
          <!--Helios-->
          <div id="helios" class="mb-5">
            <h1>Helios School</h1>
            <p>Date: June 2, 2025</p>
            <p>Attendees: Avery, Anandita, Khushi, Ansh, Zoya, Nikhil, Rohan</p>
            <p>Our team visited Helios school, a K-8 independent school in Sunnyvale. 
              We ran a class introducing synthetic biology and conducted a hands-on activity to a group of thirty 8th-grade students.</p>
            <p>We started the day by introducing our team, what iGEM is, and what we do. 
              We then gave a short presentation on our 2024 iGEM project, Eat Methane! 
              We then asked students what they knew about synthetic biology and DNA. 
              Throughout our presentation, we asked questions and had the students answer to ensure they understood the concepts and stayed engaged.</p>
            <!--Carousel-->
            <div class="row flex justify-content-center py-3">
              <div id="carouselExampleControlsHel1" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://static.igem.wiki/teams/5761/humanpractices/education/helios1.webp" class="d-block w-100" alt="A team member gesturing to a slide with a diagram of DNA structure.">
                  </div>
                  <div class="carousel-item">
                    <img src="https://static.igem.wiki/teams/5761/humanpractices/education/helios2.webp" class="d-block w-100" alt="Team members presenting a slide introducing iGEM.">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsHel1" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsHel1" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div> <!--end carousel-->

            <p>We gave an introduction to the Central Dogma, DNA, protein production, and gene expression. 
              After explaining some background information, students then particpated in our “strawberry DNA” activity. 
              Students extracted DNA from strawberries, showing them that science was not exclusively found in labs, but could be accessed anywhere. 
              Students also learned that genomics surrounds us. Everyone and every living thing, including their strawberries, are a part of biology and genetic science. 
              The hands-on strawberry DNA activity assisted students in visualizing the structures that we described in our presentation, and was a great way for them to get exposure to synthetic biology as a whole.</p>
            <p>We then ended the day with cleanup, followed by a discussion and presentation about the activity. 
              We explained how the different components added to the strawberries, dish soap, salt, and alcohol, all help extract the DNA from cells. 
              Lastly, we asked the students to fill out a small survey describing their experience during the education visit.</p>
            <!--Carousel-->
            <div class="row flex justify-content-center py-2" style="margin-bottom:5%;">
              <div id="carouselExampleControlsHel2" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://static.igem.wiki/teams/5761/humanpractices/education/helios3.webp" class="d-block w-100" alt="A student holding up extracted DNA from strawberries.">
                  </div>
                  <div class="carousel-item">
                    <img src="https://static.igem.wiki/teams/5761/humanpractices/education/helios4.webp" class="d-block w-100" alt="Students pouring strawberry extraction liquid into a cup.">
                  </div>
                  <div class="carousel-item">
                    <img src="https://static.igem.wiki/teams/5761/humanpractices/education/helios5.webp" class="d-block w-100" alt="A student straining strawberry extradtion liquid with a coffee filter.">
                  </div>
                  <div class="carousel-item">
                    <img src="https://static.igem.wiki/teams/5761/humanpractices/education/helios6.webp" class="d-block w-100" alt="A student holding up extracted DNA from strawberries.">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsHel2" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsHel2" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div> <!--end carousel-->
            
            <h3>Feedback</h3>
            <img src="https://static.igem.wiki/teams/5761/humanpractices/education/heliosresponse1.webp" class="img-fluid">
            <img src="https://static.igem.wiki/teams/5761/humanpractices/education/heliosresponse2.webp" class="img-fluid">
            <p>After analyzing our survey, we found that most students enjoyed the activity and found it interesting, although not exceptionally so. 
              It also seemed as if we did not tailor our presentation well enough to our audience as many students reported that the activity felt easy. 
              As for their interest in synthetic biology after the presentation, most students reported a 3, a moderate level of interest. 
              We incorporated this feedback into our later education sessions.</p>
          </div>
          <hr/>
  
          <!--Laurel-->
          <div id="laurel" class="mb-5">
            <h1>Laurel Elementary</h1>
            <p>Date: June 11, 2025</p>
            <p>Attendees: Rohan, Zoya, Khushi, Rohit, Kruti, Baxter</p>
            <p>Members from our team visited Laurel Elementary School, a public school in Menlo Park with Spanish immersion education. 
              We ran a class to two groups of around twenty 5th graders, <strong>in Spanish and in English</strong>, to explain DNA base pairs with a hands-on activity. </p>
            <p>Prior to our effots, Laurel elementary had no biology curriculum, meaning our class was the students' first exposure to biology.</p>
            <p>We began the day by introducing iGEM and how DNA works by explaining what animals and cells have in common as well as the shape of DNA. 
              Students were engaged, and asked questions such as “How does DNA make people?” </p>
            <!--Photos-->
            <figure class="py-3">
              <div class="row">
                <div class="col-md d-flex justify-content-center">
                  <img src="https://static.igem.wiki/teams/5761/humanpractices/education/laurel-image-1.webp" alt="Two students holding froot loop bracelets and smiling." class="img-fluid">
                </div>
                <div class="col-md d-flex justify-content-center">
                  <img src="https://static.igem.wiki/teams/5761/humanpractices/education/laurel-image-2.webp" alt="One student holding a froot loop bracelet and smiling." class="img-fluid">
                </div>
              </div>
            </figure>
            <p>We then gave a short presentation on our 2024 project, Eat Methane! 
              During our presentation, we continued our practice of asking questions and having students answer.</p>
            <p>We did a quick survey to see what the kids knew about biology/genetics and as we would expect, the knowledge was minimal. 
              We then gave some information on DNA base pairs and the sugar-phosphate backbone and how it makes the iconic double-helix shape. 
              Then, we explained the activity and students proceeded to engage in the “Froot Loops DNA Base Pairs” activity. </p>
            <!--Photos-->
            <div class="row flex justify-content-center py-2" style="margin-bottom:2.5%">
              <div id="carouselExampleControlsLar" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://static.igem.wiki/teams/5761/humanpractices/education/laurel-image-5.webp" class="d-block w-100" alt="A young girl showing off her froot loop DNA bracelet.">
                  </div>
                  <div class="carousel-item">
                    <img src="https://static.igem.wiki/teams/5761/humanpractices/education/laurel-image-4.webp" class="d-block w-100" alt="A young boy showing off her froot loop DNA bracelet.">
                  </div>
                  <div class="carousel-item">
                    <img src="https://static.igem.wiki/teams/5761/humanpractices/education/laurel-image-3.webp" class="d-block w-100" alt="A young boy showing off her froot loop DNA bracelet.">  
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsLar" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsLar" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div> <!--end carousel-->
            <p>Students used different colors of Froot Loops to then represent DNA base pairs. 
              Red representing A, orange representing T, purple representing C, and green representing D. 
              This activity provided a similar hands on synthetic biology experience to the strawberry DNA activity from Helios, 
              but on a lower leve to match the age range of the younger students. </p>
            <p>The students synthesized imaginary creatures by assigning specific attributes, represented by base pairs, to construct a unique organism. </p>
            <p>We ended the activity with a reflection and asked students what they learned, and if they’d do the activity again. 
              We got mixed results, giving us insights into what the students enjoyed and didn’t enjoy about the activity. 
              We then repeated this for the second group of children.</p>
            <embed type="application/pdf" src="https://static.igem.wiki/teams/5761/humanpractices/education/laurel-compressed.pdf" width="100%" height="600px" class="py-2">
            <h3>Feedback</h3>
            <p>We incorporated the feedback from our last visit into the planning for this one. Since the students at Laurel were younger than those in Helios, we developed a less intensive and more playful set of activities. However, it seemed that our efforts to make synthetic biology seem entertaining fell short, as we noticed that students where uninterested in the actual activity and were focused on eating the Froot Loops and the animals they designed. We learned that for this younger audience, we needed to make the activities more entertaining.</p>
          </div>
  
          <hr/>
          <!--Temple-->
          <div id="temple" class="mb-5">
            <h1>Mandir Shreemaya Krishnadham Temple</h1>
            <p>June 19, 2025</p>
            <p>Attendees: Anandita, Khushi, Ansh, Zoya, Nikhil, Rohan</p>
            <p>Our team visited the Shreemaya Krishnadham Mandir, a Hindu temple in San Jose, California. 
              The purpose of the visit was to introduce and discuss synthetic biology concepts to the temple students. 
              This visit was split into two parts. The morning from 9-12 was with three students ages 9-12, 
              while in the evening, the three students were joined by five other students, ages between 6-18.</p>
            <p>We started the day by introducing biology and what iGEM is. 
              We then moved on to a presentation about macromolecules and taught the students our 2025 iGEM project. 
              To compliment the macromolecules presentation, we ran a cheese-making lab while explaining the background biology that made the processes work.</p>
            <embed type="application/pdf" class="py-2" src="https://static.igem.wiki/teams/5761/humanpractices/education/templeyounger-compressed.pdf" width="100%" height="600px">
            <!--group photo-->
            <figure class="py-3 row">
              <img src="https://static.igem.wiki/teams/5761/humanpractices/education/temple-big-group-photo.webp" alt="Group photo of all those attending the temple educational event" class="img-fluid">
              <figcaption>First session of the temple educational event.</figcaption>
            </figure>
            <p>We were then joined by the second group of students. 
              To get the students excited about DNA, we ran the strawberry DNA activity while explaining the structure of DNA. 
              We continued our exploration of DNA by explaining the central dogma, 
              the process by which DNA is converted into a protein. </p>
            <p>To ensure the students' understanding of the Central Dogma, we then ran a Central Dogma relay race, 
              where each student acted as a member of the central dogma process (e.g. acting as a ribosome or as rna polymerase). 
              A member started by creating a DNA strand of an animal out of froot loops on a string based on traits from a modified amino acid table. 
              The next person converted the DNA froot loop strand into an RNA froot loop strand. 
              The third person performed the job of the ribosome, converting the strand back into traits from a modified amino acid table. 
              They then drew the animal based on the traits!</p>
            <!--photo-->
            <figure class="py-3">
              <div class="row">
                <div class="col-md d-flex justify-content-center">
                  <img src="https://static.igem.wiki/teams/5761/humanpractices/education/temple-slides-presentation.webp" alt="Team members presenting statistics about microplastics." class="img-fluid">
                </div>
                <div class="col-md d-flex justify-content-center">
                  <img src="https://static.igem.wiki/teams/5761/humanpractices/education/temple-khushi-small-group.webp" alt="Students extracting DNA." class="img-fluid">
                </div>
              </div>
            </figure>
            <p> Finally, we ended the day with a carbon footprint detective activity, where students learned to calculate their total carbon footprint.
              This encouraged the students to be environmentally conscious, something we believe is important to consider in science.</p>
          </div>

          <hr/>
          <!--Chinese-->
          <div id="chinese" class="mb-5">
            <h1>Chinese Student Visit</h1>
            <p>July 23, 2025</p>
            <p>Attendees: Avery, Alyssa, Zoya, Meilin, Baxter</p>
            <p>Twenty-two students from China, 8 to 14 years old, visited Khan Lab School as part of a summer camp. 
              The students came from various parts of China, including Beijing, Shanghai, Shenzhen, and more. 
              Two members of our team, Avery and Alyssa, ran a class on DNA and DNA extraction <strong>entirely in Mandarin</strong> including extensive Q&A.
            </p>
            <img src="https://static.igem.wiki/teams/5761/humanpractices/education/chinese-visit-big-group-photo.webp" alt="Visiting Chinese students posing for a photo with the KhanLab-BayArea iGEM team." class="img-fluid py-2">
            <p>We started by first introducing our team and our members, then asking each student to introduce themselves. 
              The team explained what iGEM is and introduced the concept of synthetic biology. 
              We then talked about DNA and its place in biology. 
              Throughout the presentation, we asked the students questions to keep them engaged and see how much they already knew.</p>
            
            <p class="justify-content-center text-center" style="margin-top:5%;font-size:large;"><b>Please turn on captions.</b></p>
            <div class="video-container" style="margin-bottom:2.5%;">
              <iframe  title="KhanLab-BayArea: Chinese Student Synthetic Biology Discussion (2025) [Chinese]"
                src="https://video.igem.org/videos/embed/mA2UD9xZP5R1P35cvHeBGk" 
                allowfullscreen 
                sandbox="allow-same-origin allow-scripts allow-popups allow-forms">
              </iframe>
            </div>
            <p>We then ran the strawberry DNA activity, using the protocol one of our members translated, showing them DNA is very common in the world and giving them hands-on experience. 
              The visit concluded with a Q&A about science, Khan Lab School, and student life in the United States. 
              Students were free to ask any questions they had about the differences between life in the U.S. and China, how much homework we recieved, how school schedules worked, how we engage with science, etc.</p>
            <p><a href="https://static.igem.wiki/teams/5761/humanpractices/education/chinesecaomeidnaprotocol.pdf"><b>DNA extraction protocol (Chinese, English, Pinyin)</b></a></p>
            <embed class="py-2" type="application/pdf" src="https://static.igem.wiki/teams/5761/humanpractices/education/chinesecaomeidna.pdf" width="100%" height="600px">
            <h3>Feedback</h3>
            <p>When asked, the students said they found the activity very fun and memorable, and the information given about life in the U.S. very useful. 
              The teachers accompanying the students were very happy because our team members gave them additional support in translating and speaking to the students in Chinese. 
              We learned that connecting with our audience by bridging language barriers is incredibly rewarding for all those involved.</p>
            <!--Carousel-->
            <div class="row flex justify-content-center py-2">
              <div id="carouselExampleControlsChin" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://static.igem.wiki/teams/5761/humanpractices/education/chinese-visit-zoya-chuckling-at-presentation.webp" class="d-block w-100" alt="Members presenting a video on DNA.">
                  </div>
                  <div class="carousel-item">
                    <img src="https://static.igem.wiki/teams/5761/humanpractices/education/chinese-visit-avery-helping.webp" class="d-block w-100" alt="A member supervising a student pouring DNA extraction liquid.">
                  </div>
                  <div class="carousel-item">
                    <img src="https://static.igem.wiki/teams/5761/humanpractices/education/chinese-visit-alyssa-helping.webp" class="d-block w-100" alt="A member helping strain DNA extraction liquid with a coffee filter.">
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsChin" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsChin" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div> <!--end carousel-->
          </div>
        </div>
        <hr/>
        <!--Crispr kit-->
        <div id="kit" class="mb-5">
          <h1>Stanford CRISPR Kit</h1>
          <p>Date: July - September 2025</p>
          <p>Attendees: Alisha, Anandita, Ansh, Avery, Khushi, Paul, Sameer, Uday, Zoya, Baxter</p>
          
          <p>CRISPR Kit is an initiative by Stanford University’s Stanley Qi Lab working to make biotechnology more accessible to high school students. 
            Prior to the beginning of the school year, our team began working with the Stanley Qi Lab to adapt CRISPR Kit for Khan Lab School. 
            In Khan Lab School, 10th and 11th grade students are encouraged to pursue a Cornerstone project. 
            Cornerstone projects are year-long projects where students explore any topic they’re interested in, with the goal of improving their community. 
            With this in mind, we began integrating CRISPR Kit with Cornerstone.</p>
          <p><a href="https://static.igem.wiki/teams/5761/humanpractices/education/crisprkit/crisprcornerstone.pdf"><b>CRISPR Kit Cornerstone Project Proposal</b></a></p>
          <p>Over the summer, iGEM students participated in lab sessions to run the CRISPRkit experiments themselves, 
            gaining hands-on experience and a clear understanding of the protocol. 
            Through joint planning meetings and feedback sessions, students also developed their ability to support and mentor peers, 
            preparing to serve as TAs during the fall workshop. This collaboration helped bridge science education and peer-to-peer teaching, 
            reinforcing both technical and communication skills.
          </p>
          <p>Cornerstone was adapted to have, over the course of three weeks in September, 
            have three sessions exploring the biodesign process, CRISPR, and experiment design. 
            Sessions were lead by members of the Qi Lab including Abigail Alemayeho, 
            a Stanford student pursuing her bachelor degree in bioengineering and data science, 
            Andre Gu, a bioengineering PhD student, 
            and Dr. Alex Choi, a postdoctoral scholar studying microscopy and CRISPR. 
            Members of our team assisted the Qi lab members throughout the process and worked as teacher assistant during sessions.</p>
          <blockquote class="row">
              <q style="font-size:80px;">
                We love iGEM.
              </q>
            <p style="font-size:20px">—Andre Gu, <cite> Stanford Stanley Qi Lab</cite></p>
          </blockquote>
          <!--Session 1-->
          <div id="week1">
            <h2>Week 1</h2>
            <!--Carousel-->
            <div class="row flex justify-content-center py-3">
              <div id="carouselExampleControlsSes1" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://static.igem.wiki/teams/5761/humanpractices/education/crisprkit/session1-1.webp" class="d-block w-100" alt="Qi Lab members presenting slides on the Stanford BioDesign Framework.">
                  </div>
                  <div class="carousel-item">
                    <img src="https://static.igem.wiki/teams/5761/humanpractices/education/crisprkit/session1-2.webp" class="d-block w-100" alt="Andre overseeing a student conversation on cookies problems.">
                  </div>
                  <div class="carousel-item">
                    <img src="https://static.igem.wiki/teams/5761/humanpractices/education/crisprkit/session1-3.webp" class="d-block w-100" alt="Qi Lab members presenting slides on the invent stage.">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsSes1" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsSes1" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div> <!--end carousel-->
            <p>The first session was a general introduction to the Stanford biodesign process, beginning with the Identify phase. 
              Students learned how to find unmet needs, conduct research and interviews to gain expertise, and formulate a clear "Needs" Statement. 
              The presentation emphasized that solving a problem required understanding the problem thoroughly before jumping to solutions.</p>
            <p>Students were then sorted into groups of two and given a handout with a cookie-making analogy to practice their problem solving skills. 
              Once finished, several students presented their solutions to recieve constructive feedback. 
              The day introduced the importance of teamwork, decision-making, accessibility, and set the foundation for the Invent phase in the next sessions.</p>
            <p><a href=https://static.igem.wiki/teams/5761/humanpractices/education/crisprkit/design-cookies.pdf><b>Cookie Making Worksheet.</b></a></p>
            <embed type="application/pdf" src="https://static.igem.wiki/teams/5761/humanpractices/education/crisprkit/biodesign.pdf" width="100%" height="600px">
          </div>
          <!--Session 2-->
          <div id="week2">
            <h2>Week 2</h2>
            <p>Prior to the beginning of session two, members of our team helped Qi Lab members prepare the wetlab material for the session. Many of these members had previously been unable to participate in wetlab activities for iGEM, so this gave them the opportunity to learn wetlab preparation skills.</p>
            <!--prep wetlab carousel-->
            <div class="row flex justify-content-center py-3">
              <div id="carouselExampleControlsPrep" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://static.igem.wiki/teams/5761/humanpractices/education/crisprkit/ses2-1-1.webp" class="d-block w-100" alt="Team members pipetting liquid into tubes.">
                  </div>
                  <div class="carousel-item">
                    <img src="https://static.igem.wiki/teams/5761/humanpractices/education/crisprkit/ses2-1-2.webp" class="d-block w-100" alt="Baxter standing next to Dr. Choi in front of a TV presenting a CRISPR Kit infographic.">
                  </div>
                  <div class="carousel-item">
                    <img src="https://static.igem.wiki/teams/5761/humanpractices/education/crisprkit/ses2-1-3.webp" class="d-block w-100" alt="Team members pipetting material and smiling for the camera.">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsPrep" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsPrep" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div> <!--end carousel-->
            
            <p>The second session began by reviewing themes of bioengineering and the Biodesign problem-solving framework. Students reviewed fundamental biology concepts such as the central dogma and were introduced to the problem of genetic diseases. Once the students were prepared, Dr. Alex Choi began to explain what CRISPR is and how it works.</p>
            <div class="video-container m-3 justify-content-center">
              <iframe title="KhanLab-BayArea: Dr. Alex Choi Explains CRISPR (2025) [English]" width="560" height="315" src="https://video.igem.org/videos/embed/wXKMq6iZJ2wKLZALH3V7bn" style="border: 0px;" allow="fullscreen" sandbox="allow-same-origin allow-scripts allow-popups allow-forms"></iframe>
            </div>
            
            <p>Students then discussed the inaccessibility surrounding CRISPR, mostly due to high costs. With this, Dr. Choi introduced CRISPR Kit, which aims to make biotechnology accessible to high school students. CRISPR Kit utilizes dCas9 (developed by Stanley Qi) for safer, reversible gene editing.</p>
            <div class="video-container m-3 justify-content-center">
              <iframe title="KhanLab-BayArea: Dr. Alex Choi Explains CRISPR Kit Accessibility (2025) [English]" width="560" height="315" src="https://video.igem.org/videos/embed/sA5ZdFUU7M6GXcmExJ6tP8" style="border: 0px;" allow="fullscreen" sandbox="allow-same-origin allow-scripts allow-popups allow-forms"></iframe>
            </div>

            <p>With this, students began the melanin production pathway experiment, allowing students to see a practical, visual application of CRISPR via a color change reaction. This helped them understand exactly what CRISPR Kit had developed and learn of its applications.</p>
            <!--experiment photo carousel-->
            <div class="row flex justify-content-center py-3">
              <div id="carouselExampleControlsLab" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://static.igem.wiki/teams/5761/humanpractices/education/crisprkit/ses2-2-1.webp" class="d-block w-100" alt="4 students standing around an instructor explaining how to use a pippet.">
                  </div>
                  <div class="carousel-item">
                    <img src="https://static.igem.wiki/teams/5761/humanpractices/education/crisprkit/ses2-2-2.webp" class="d-block w-100" alt="3 students huddled around a table pippeting.">
                  </div>
                  <div class="carousel-item">
                    <img src="https://static.igem.wiki/teams/5761/humanpractices/education/crisprkit/ses2-2-3.webp" class="d-block w-100" alt="2 students pippeting liquid.">
                  </div>
                  <div class="carousel-item">
                    <img src="https://static.igem.wiki/teams/5761/humanpractices/education/crisprkit/ses2-2-4.webp" class="d-block w-100" alt="A student pippeting liquid as an instructor watches.">
                  </div>
                  <div class="carousel-item">
                    <img src="https://static.igem.wiki/teams/5761/humanpractices/education/crisprkit/ses2-2-5.webp" class="d-block w-100" alt="A student pippeting liquid.">
                  </div>
                  <div class="carousel-item">
                    <img src="https://static.igem.wiki/teams/5761/humanpractices/education/crisprkit/ses2-2-6.webp" class="d-block w-100" alt="A student pippeting liquid while another judges the camera.">
                  </div>
                  <div class="carousel-item">
                    <img src="https://static.igem.wiki/teams/5761/humanpractices/education/crisprkit/ses2-2-7.webp" class="d-block w-100" alt="A student pippeting liquid.">
                  </div>
                  <div class="carousel-item">
                    <img src="https://static.igem.wiki/teams/5761/humanpractices/education/crisprkit/ses2-2-8.webp" class="d-block w-100" alt="An instructor helping a student with tubes.">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsLab" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsLab" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>

            <embed type="application/pdf" src="https://static.igem.wiki/teams/5761/humanpractices/education/crisprkit/crisprkitsession2.pdf" width="100%" height="600px">
            <p><a href="https://static.igem.wiki/teams/5761/humanpractices/education/crisprkit/session2protocol.pdf"><b>Protocol for teachers.</b></a></p>
            <p>The session ended with the announcement that students would be allowed to develop their own CRISPR experiment using CRISPR Kit for their Cornerstone project. Instructors invited students to experiment with and expand CRISPR Kit’s accessibility, for example, through multilingual support, and offered mentorship for future projects. </p>

            <blockquote class="row">
              <q style="font-size:80px;">
                Our goal is to give you a canvas to start creating.
              </q>
              <p style="font-size:20px">—Abigail Alemayeho, <cite>Stanford Stanley Qi Lab</cite></p>
            </blockquote>
          </div>
          <div id="week3">
          <!--Session 3-->
            <h2>Week 3</h2>
            <p>Session three finished covering the Biodesign process by focusing on the Implementation phase, 
              covering strategy development and business planning for bringing a product like CRISPRkit to market. 
              Students learned how CRISPR Kit itself was developed through the full Biodesign cycle, from identifying the need for accessible, 
              affordable synthetic biology education to concept generation, screening, and implementation. 
              The session emphasized the importance of a strong Need Statement and delved into the challenges of 
              scalability, sustainability, and maintaining quality. Students were shown the results of their experiments and 
              discussed what could be improved with CRISPR Kit’s current accessibility and 
              how it could be used into diverse fields such as agriculture, marine biology, plastic waste, and medicine.
            </p>
            <embed type="application/pdf" src="https://static.igem.wiki/teams/5761/humanpractices/education/crisprkit/week3.pdf" width="100%" height="600px">
            <!--photo carousel of students looking at their results-->
            <p class="text-center">Students observing their experiment results.</p>
            <div class="row flex justify-content-center" style="margin-bottom:2.5%">
              <div id="carouselExampleControlsResults" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://static.igem.wiki/teams/5761/humanpractices/education/crisprkit/ses3-1-1.webp" class="d-block w-100" alt="A student looking at experiment tubes in a tube holder.">
                  </div>
                  <div class="carousel-item">
                    <img src="https://static.igem.wiki/teams/5761/humanpractices/education/crisprkit/ses3-1-2.webp" class="d-block w-100" alt="5 students collecting experiment tubes from a teacher's assistant.">
                  </div>
                  <div class="carousel-item">
                    <img src="https://static.igem.wiki/teams/5761/humanpractices/education/crisprkit/ses3-1-3.webp" class="d-block w-100" alt="3 students looking at their experiment tubes.">
                  </div>
                  <div class="carousel-item">
                    <img src="https://static.igem.wiki/teams/5761/humanpractices/education/crisprkit/ses3-1-4.webp" class="d-block w-100" alt="A teacher looking at experiment tubes with a students.">
                  </div>
                  <div class="carousel-item">
                    <img src="https://static.igem.wiki/teams/5761/humanpractices/education/crisprkit/ses3-1-5.webp" class="d-block w-100" alt="Students looking at experiment tubes in a tube holder.">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsResults" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsResults" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
            <p>Students then reviewed the multi-dimensional aspect of accessibility, including financial, cultural, linguistic, logistical, and technological accessibility. 
              Afterwards, students participated  in a brainstorming session to identify current limitations of the kit and propose solutions. 
              Ideas included an app with the course material to expand language accessibility, 
              increasing the amount of fluids in the experiment materials to encourage more reliable results, 
              a video series for the course to increase engagement, and an alternative cooler design to transport experiment materials.
            </p>
            <!--photo carousel of students presenting their ideas-->
            <p class="text-center">Students presenting their ideas to receive constructive feedback.</p>
            <div class="row flex justify-content-center" style="margin-bottom:2.5%">
              <div id="carouselExampleControlsPresent" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://static.igem.wiki/teams/5761/humanpractices/education/crisprkit/ses3-2-1.webp" class="d-block w-100" alt="A student presenting with instructors behind her.">
                  </div>
                  <div class="carousel-item">
                    <img src="https://static.igem.wiki/teams/5761/humanpractices/education/crisprkit/ses3-2-2.webp" class="d-block w-100" alt="4 students presenting to the class.">
                  </div>
                  <div class="carousel-item">
                    <img src="https://static.igem.wiki/teams/5761/humanpractices/education/crisprkit/ses3-2-3.webp" class="d-block w-100" alt="4 students presenting to the class.">
                  </div>
                  <div class="carousel-item">
                    <img src="https://static.igem.wiki/teams/5761/humanpractices/education/crisprkit/ses3-2-4.webp" class="d-block w-100" alt="2 students presenting to the class.">
                  </div>
                  <div class="carousel-item">
                    <img src="https://static.igem.wiki/teams/5761/humanpractices/education/crisprkit/ses3-2-5.webp" class="d-block w-100" alt="4 students presenting to the class.">
                  </div>
                  <div class="carousel-item">
                    <img src="https://static.igem.wiki/teams/5761/humanpractices/education/crisprkit/ses3-2-6.webp" class="d-block w-100" alt="5 students presenting to the class.">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsPresent" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsPresent" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
            <blockquote class="row">
              <q style="font-size:80px;">
                You are just as good as a PhD student.
              </q>
            <p style="font-size:20px">—Dr. Alex Choi, <cite> Stanford Stanley Qi Lab</cite></p>
          </blockquote>
            <p>The session concluded with the instructors explaining that they want students to use their cornerstone projects to expand CRISPR Kit. 
              Dr. Alex Choi encouraged students by explaining they are capable of science just like any professional scientist is, 
              which they could see with their experiment results. He also explained that he wanted students to use cornerstone to help Stanford’s Qi Lab 
              understand science from the perspective of high school students to make it more accessible.
            </p>
          </div>
        </div>
        <hr/>

        <div id="sum" class="mb-5">
          <h1>Summary</h1>
          <p>
            Our team taught synthetic biology concepts to around 150 students with a variety of backgrounds. 
            We reached Chinese, Spanish, and English speakers. We also reached our local Hindu population.
            We also developed synthetic biology curiculumn for high schools, middle schools, and elementary schools. 
            We ensured students gained hands-on experience to relieve the disconnect between abstract science and the world. 
            As we continued, our feedback from the events grew increasingly positive, with each subsequent student group feeling more and more confident and satisfied. 
            Through our targeted initiatives and collaborations, we believe our team successfully introduced synthetic biology to a large diverse group of students, inspiring them to pursue science and synthetic biology further.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
