{% extends "layout.html" %}
  
{% block title %}Education{% endblock %}

{% block page_content %}


<div class="row mt-4">
  <div class="col-9">
    <img src="https://static.igem.wiki/teams/5761/humanpractices/education/edu-schools.webp" alt="Map of Schools we visited." class="img-fluid max-width:800px">
  </div>
  <div class="col-3">
    <img src="https://static.igem.wiki/teams/5761/humanpractices/education/salkhan.webp" alt="Sal Khan photo" class="img-fluid max-width:350px">
    <h3 class="py-2" style="font-size:large"><b>Sal Khan, Founder of Khan Academy and Khan Lab School</b></h3>
    <p> “Whoever you are, wherever you are, you only need to know one thing.  You can learn anything.” — Sal Khan</p>
  </div>
</div>
<hr/>

<div data-bs-spy="scroll" data-bs-target="#myScrollspy" data-bs-offset="20">

    <div class="container">
      <div class="row">
        <!-- Scrollspy Sidebar -->
        <nav class="col-sm-2" id="myScrollspy">
          <nav class="nav nav-pills flex-column">
            <a class="nav-link" href="#section1">1</a>
            <a class="nav-link" href="#section2">2</a>
            <a class="nav-link" href="#section3">3</a>
            <a class="nav-link" href="#section4">4</a>
            <a class="nav-link" href="#section5">5</a>
          </nav>
        </nav>
  
        <!-- Main Content -->
        <div class="col-md-10" id="bumper">
          <div id="section1" class="mb-5">
            <h1>1</h1>
          </div>
          
          <div id="section2" class="mb-5">
            <h1>2</h1>
          </div>
          
          <div id="section3" class="mb-5">
            <h1>3</h1>
          </div>
  
          <div id="section4" class="mb-5">
            <h1>4</h1>
          </div>
  
          <div id="section5" class="mb-5">
            <h1>5</h1>
            <div class="video-container">
                <iframe  title="KhanLab-BayArea: Chinese Student Synthetic Biology Discussion (2025) [Chinese]"
                src="https://video.igem.org/videos/embed/mA2UD9xZP5R1P35cvHeBGk" 
                frameborder="0" 
                allowfullscreen 
                sandbox="allow-same-origin allow-scripts allow-popups allow-forms"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
