{% extends "layout.html" %}
  
{% block title %}Education{% endblock %}

{% block page_content %}


<div class="row mt-4">
  <div class="col-9">
    <img src="https://static.igem.wiki/teams/5761/humanpractices/education/edu-schools.webp" alt="Map of Schools we visited." class="img-fluid max-width:800px">
  </div>
  <div class="col-3">
    <img src="https://static.igem.wiki/teams/5761/humanpractices/education/salkhan.webp" alt="Sal Khan photo" class="img-fluid max-width:350px">
    <h3 class="py-2" style="font-size:large"><b>Sal Khan, Founder of Khan Academy and Khan Lab School</b></h3>
    <p> “Whoever you are, wherever you are, you only need to know one thing.  You can learn anything.” — Sal Khan</p>
  </div>
</div>
<hr/>

<div data-bs-spy="scroll" data-bs-target="#myScrollspy" data-bs-offset="20">

    <div class="container">
      <div class="row">
        <!-- Scrollspy Sidebar -->
        <nav class="col-sm-2" id="myScrollspy">
          <nav class="nav nav-pills flex-column">
            <a class="nav-link" href="#overview">Overview</a>
            <a class="nav-link" href="#class">Synthetic Biology Class</a>
            <a class="nav-link" href="#helios">Helios</a>
            <a class="nav-link" href="#laurel">Laurel</a>
            <a class="nav-link" href="#temple">Temple</a>
            <a class="nav-link" href="#chinese">Chinese Student Visit</a>
            <a class="nav-link" href="#kit">CRIPSR Kit</a>
          </nav>
        </nav>
  
        <!-- Main Content -->
        <div class="col-md-10" id="bumper">
          <div id="overview" class="mb-5">
            <h1>Overview</h1>
            <p>As a team, we sought to share our knowledge of synthetic biology with others from our local community and beyond. We mostly accomplished this by teaching kids younger than ourselves in both school and non-school settings, but we also incorporated adult education as well in our September coffee chat. We did this because we want to demystify gene editing; many people view gene editing as something only top-level scientists can ever understand (and something so theoretical that it’s entirely divorced from day-to-day life), but the concepts underlying it are actually simpler and more universal than many would think. Once students understand the central tenets of synthetic biology, they are better equipped to understand the starring role it has in modern society and work in STEM fields.</p>
          </div>
          
          <div id="class" class="mb-5">
            <h1>Synthetic Biology Class</h1>
            <p>Awaiting text and images</p>
          </div>
          
          <div id="helios" class="mb-5">
            <h1>Helios</h1>
            <p>Date!!!</p>
            <p>Attendees!!!</p>
            <p>Our team visited Helios school, a K-8 independent school in Sunnyvale. We presented to a group of thirty 8th-grade students in the morning to introduce synthetic biology and have a hands-on activity.</p>
            <p>We started the day by introducing our team, what iGEM is, and what we do. We then gave a short presentation on our 2024 iGEM project, Eat Methane! During our presentation, we made sure our audience was engaged by asking questions and having students answer. We then asked students what they knew about synthetic biology and DNA</p>
            <!--Carousel-->

            <p>We gave an introduction to the Central Dogma, DNA, protein production, and gene expression. After explaining some background information, students then engaged in our “strawberry DNA” activity. Students extracted DNA from strawberries, showing them that science was not exclusively found in labs, but could be accessed anywhere. Students also learned that genomics surrounds us, everyone and every living thing, including their strawberries, are a part of biology and genetic science. The hands-on strawberry DNA activity assisted students in visualizing the structures that we described in ourpresentation, and was a great way for them to get exposure to synthetic biology as a whole. </p>
            <p>We then ended the day with cleanup, followed by a discussion and presentation about the activity. We explained how the different components added to the strawberries, dish soap, salt, and alcohol, all help extract the DNA from cells. Lastly, we asked the students to fill out a small survey describing their experience during the education visit.</p>
            <h2>Feedback</h2>
            <p>After analyzing our survey, we found that most students enjoyed the activity and found it interesting, although not exceptionally so. It also seemed as if we did not tailor our presentation well enough to our audience as many students reported that the activity was too easy. As for their interest in synthetic biology after the presentation, most students reported a 3, a moderate level of interest. We incorporated this feedback into our later education sessions. </p>
            <!--Carousel feedback-->

          </div>
  
          <div id="laurel" class="mb-5">
            <h1>Laurel</h1>
            <p>Date!!!</p>
            <p>Attendees!!!</p>
            <p>Members from our team visited Laurel Elementary School, a public school in Menlo Park. We presented to a group of around 20 fifth graders in the morning to explain DNA base pairs with a hands-on activity. </p>
            <p>We began the day by introducing iGEM and how DNA works by explaining what animals and cells have in common as well as the shape of DNA. Students seemed engaged, and asked questions such as “How does DNA make people?” </p>
            <!--Photos-->

            <p>We then gave a short presentation on our 2024 project, Eat Methane! During our presentation, we made sure our audience was involved by asking questions and having students answer.</p>
            <p>We did a quick survey to see what the kids knew about biology/genetics and as we would expect, the knowledge was minimal. We then gave some information on DNA base pairs and the sugar-phosphate backbone and how it makes the iconic double-helix shape. Then, we explained the activity and students proceeded to engage in the “Froot Loops DNA Base Pairs” activity. </p>
            <!--Photos-->

            <p>Students used different colors of Froot Loops to then represent DNA base pairs. Red representing A, orange representing T, purple representing C, and green representing D. This activity provided a similar hands on synthetic biology experience to the strawberry DNA activity from Helios, just on a simpler level, which we think paired well with the age group of these students. </p>
            <p>These base pairs represented certain attributes to help create an animal that the students created with their own imagination using the attributes on the paper. </p>
            <p>We ended the activity with a reflection and asked students what they learned and if they’d do the activity again. We got mixed results which gave us insights into what the students enjoyed and didn’t enjoy about the activity. We then repeated this for the second group of children.</p>
            <h3>Feedback</h3>
            <p>We incorporated the feedback from our last visit into the planning for this one. Since the students at Laurel were younger than those in Helios, we developed a less intensive and more playful set of activities. However, it seemed that our efforts to make synthetic biology seem entertaining fell short, as we noticed that students where uninterested in the actual activity and were focused on eating the Froot Loops and the animals they designed. We learned that for this younger audience, we needed to make the activities more entertaining.</p>
          </div>
  
          <div id="temple" class="mb-5">
            <h1>Mandir Shreemaya Krishnadhan Temple</h1>
            <p>Date!!!</p>
            <p>Attendees!!!</p>
            <p>Our team visited the Shreemaya Krishnadham Mandir, a Hindu temple in San Jose, California. The purpose of the visit was to introduce and discuss synthetic biology concepts to the temple students. This visit was split into two parts. The morning from 9-12 was with 3 students ages 9-12, while in the evening the 3 students were joined by 5 other students, ages between 6-18.</p>
            <p>We started the day by introducing biology and what iGEM is. We then moved on to macromolecules and taught the students about the problem we are solving this year in iGEM. As a lab for the macromolecules presentation we had the kids make cheese and explained why the process worked biologically</p>
            <!--photos-->

            <p>We were then joined by the second group of students. To get the students excited about DNA, we ran a strawberry DNA activity while explaining the structure of DNA. We continued the DNA adventure by explaining the central dogma, the process by which DNA is converted into a protein. We then ran a Central Dogma relay race, where each student acted as a member of the central dogma process (e.g. acting as a ribosome or as rna polymerase). A member started by creating a DNA strand of an animal out of froot loops on a string based on traits from a modified amino acid table. The next person converted the DNA froot loop strand into an RNA froot loop strand. The third person performed the job of the ribosome, converting the strand back into traits from a modified amino acid table. They then drew the animal based on the traits!</p>
            <!--photo-->

            <p>Then to encourage the students to be environmentally conscious, something we believe is important to consider in science, we had them go through a carbon footprint detective activity where they calculated their total carbon footprint by answering a series of questions.</p>
          </div>

          <div id="chinese" class="mb-5">
            <h1>Chinese Student Visit</h1>
            <p>Date!!!</p>
            <p>Attendees!!!</p>
            <p>22 students from China, aged 8 to 14 years old, visited Khan Lab School as part of a summer camp. The students came from various parts of China, including Beijing, Shanghai, Shenzhen, and more. Two members of our team, entirely in Mandarin, ran a presentation on DNA and a DNA extraction with strawberries activity. </p>
            <p>We started by first introducing our team and our members, then asking each student to introduce themselves. The team explained what iGEM is and introduced the concept of synthetic biology. We then talked about DNA and its place in biology. Throughout the presentation, we asked the students questions to keep them engaged and see how much they already knew.</p>
            <div class="video-container">
                <iframe  title="KhanLab-BayArea: Chinese Student Synthetic Biology Discussion (2025) [Chinese]"
                src="https://video.igem.org/videos/embed/mA2UD9xZP5R1P35cvHeBGk" 
                frameborder="0" 
                allowfullscreen 
                sandbox="allow-same-origin allow-scripts allow-popups allow-forms"></iframe>
            </div>
            <p>We then ran the strawberry DNA activity, showing them DNA is very common in the world and giving them hands-on experience. The visit concluded with a Q&A about science, Khan Lab School, and student life in the United States.</p>
            <!--photos-->

            <h3>Feedback</h3>
            <p>This visit went excellently. Connecting to different groups and bridging language barriers for science was incredibly rewarding for us, and we found how important understanding differences in knowledge and interests between age groups is for communication.</p>
            <!--photos (team)-->
          </div>
          <div id="kit" class="mb-5">
            <h1>CRISPR Kit</h1>

          </div>

        </div>
      </div>
    </div>
  </div>

{% endblock %}
