{% extends "layout.html" %}
  
{% block title %}Engineering Success{% endblock %}

{% block page_content %}

<body data-bs-spy="scroll" data-bs-target="#myScrollspy" data-bs-offset="20">

  <div class="container">
    <div class="row">
      <!-- Scrollspy Sidebar -->
      <nav class="col-sm-2" id="myScrollspy">
        <nav class="nav nav-pills flex-column">
          <a class="nav-link" href="#section1">1</a>
          <a class="nav-link" href="#section2">2</a>
          <a class="nav-link" href="#section3">3</a>
          <a class="nav-link" href="#section4">4</a>
          <a class="nav-link" href="#section5">5</a>
        </nav>
      </nav>

      <!-- Main Content -->
      <div class="col-md-10">
        <div id="section1" class="mb-5">
          <h1>1</h1>
        </div>
        
        <div id="section2" class="mb-5">
          <h1>2</h1>
        </div>
        
        <div id="section3" class="mb-5">
          <h1>3</h1>
        </div>

        <div id="section4" class="mb-5">
          <h1>4</h1>
        </div>

        <div id="section5" class="mb-5">
          <h1>5</h1>
        </div>

      </div>
    </div>
  </div>
</body>

{% endblock %}
