{% extends "layout.html" %}
  
{% block title %}Integrated Human Practices{% endblock %}
{% block lead %}We ask every team to think deeply and creatively about whether their project is responsible and good for the world. Consider how the world affects your work and how your work affects the world.{% endblock %}

{% block page_content %}

<!--Overview-->
<div class="row">
  <div class="col">
    <h1>Overview</h1>
    <p>In developing our project, we sought to use research and expert outreach to tailor our project to the potential communities it would serve. We talked to stakeholders at each phase of the project, gaining valuable feedback on our ideas and prototypes. This process allowed us to discover the most practical path forward for our project and make sure we were using our time well.</p>
  </div>
</div>

<!--Project Ideation-->
<div class="row">
  <div class="col">
    <h1>Project Ideation</h1>
    <p>
      To supplement our preliminary research, we contacted academics in [areas] we were interested in exploring. Our meeting with Dr. Phillip Kyriakaki and Dr. Sukri Silas, as well as a team poll and consultation with Dr. Chris Hernandez, our secondary PI, allowed us to finalize our project idea.
    </p>
    <!--Phillip Kyriakakis-->
    <div> <!--Add class-->
      <h2>Dr. Phillip Kyriakakis</h2>
      <p>February 14, 2025</p>
      <p>Attendees: Ansh, Khushi, Avery, Paul, Nick, Anandita, Sameer, Zoya, Alisha</p>
      <p>Phillip Kyriakakis, Ph.D. is a Senior Research Scientist in the Bioengineering Department at Stanford University and a member of the Wu Tsai Institute for Neuroscience.</p>
      <h3>What We Learned</h3>
      <p>Our team visited Dr. Kyriakakis’ lab at Stanford. He gave a presentation on his research in optogenetics, explaining how it enables scientists to use light to control neurons and other cells. After the presentation, we split into two groups to tour different areas of his lab, where we also had the chance to briefly meet a member of the Stanford iGEM team. Dr. Kyriakakis highlighted opportunities for collaboration and pointed us toward local resources and mentors who could support our work.</p>
      <h3>Key Takeaways</h3>
      <ul>
        <li><b>Seek local resources and mentorship</b>: Connect with nearby universities, labs, and experts for advice and potential collaboration.</li>
        <li><b>Learn from peers</b>: Engaging with teams like Stanford iGEM can provide new perspectives and build community connections.</li>
      </ul>
      <h3>Implementation</h3>
      <p>We looked for stakeholders in our local community</p>
    </div>
    <!--Sukrit Silas-->
    <div> <!--Add class-->
      <h2>Dr. Sukrit Silas</h2>
      <p>April 18, 2025</p>
      <p>Attendees: Ansh, Zoya, Avery, Khushi, Anandita, Nikhil, Sameer, Meghna, Alyssa, Alisha, Paul, Sara</p>
      <p>Dr. Sukrit Silas is a Principal Investigator at the Gladstone Institutes and an expert in phage-bacteria dynamics and bacterial immune systems. His group is particularly interested in phage accessory genes—small proteins that allow phages to evade bacterial defenses.</p>
      <h3>What We Learned</h3>
      <p>Our team visited Dr. Silas’ lab at the Gladstone Institutes while exploring a possible phage-based iGEM project. He explained the challenges of phage therapy, particularly how phages tend to be effective only against very specific bacterial strains, and how defenses like receptor shielding can block infection even when receptors appear to match.
        He also introduced his lab’s ongoing work testing accessory genes by expressing them in E. coli to map their role in infection. 
        His postdoc discussed how AI and computational tools can predict host range, model resistance, and guide cocktail design. Importantly, Dr. Silas suggested a potential iGEM direction: testing phage cocktails—combinations of different phages—to broaden effectiveness against E. coli.
        Ultimately, this idea was not feasible for us since community labs such as BioCurious prohibit phage use, and we lacked access to phage-dedicated containment facilities.</p>
      <h3>Key Takeaways</h3>
      <ul>
        <li><b>Phage-host interactions</b> are highly strain-specific, unlike antibiotics.</li>
        <li><b>Receptor shielding</b> is a key bacterial defense blocking many infections.</li>
        <li>Dr. Silas’ lab is creating a <b>functional map of accessory genes</b> to understand how phages evade defenses.</li>
        <li><b>AI modeling</b> can help predict phage-host interactions and optimize cocktails.</li>
        <li>A strong project idea was to test <b>phage cocktails</b>, but this was not possible due to biosafety limits.</li>
      </ul>
      <h3>Implementation</h3>
      <p>Our team researched if we could conduct the project Dr. Silas suggested. We looked into how to safely work with phages and discussed how we could use AI in our project.</p>
    </div>
    <!--Community Integration and Lab Space-->
    <div> <!--Add class-->
      <h2>Community Integration and Lab Space</h2>
      <p>From the beginning, our team knew we wanted to integrate community projects and efforts into our project. Due to this, we decided to conduct wetlab work at BioCurious, a community biotech lab. Unfortunately, BioCurious has a policy against working with phages in order to protect other member’s work.</p>
      <h3>Implementation</h3>
      <p>We decided to not attempt a phage project in order to remain integrated with our community.</p>
    </div>
    <!--Team poll-->
    <div><!--Add class-->
      <h2>Team Poll</h2>
      <p>April 2025</p>
      <p>Simultaneously as discussing community labs, we polled our members on which project they would like to pursue. At this point we had narrowed down to three ideas: Phage therapy (ruled out), living houses, and grass water loss. Living Houses won with 58.8% of the vote, making it our official project.</p>
      <img src="https://static.igem.wiki/teams/5761/humanpractices/ihp/votes.webp" alt="Pie chart of votes" style="width:1250px">
    </div>
    <!--Finalizing Project Selection-->
    <div> <!--add class-->
      <h2>Finalizing Project Selection</h2>
      <p>May 2025</p>
      <p>With our project decided, we met with our secondary investigator, Chris Hernandez, who is a professor at University of California, San Francisco. At this point the project idea was only defined as designing a “living” material that would grow or build itself (hence “living houses"). We discussed biomineralization, which is Chris’s specialty, and how to ensure our project helps the community. We discussed a variety of problems, including plastics and microplastics returning to the environment after capture. With Chris’s advice, we pivoted our project to address local problems.</p>
      <h3>Implementation</h3>
      <p>Our project “living houses” was redefined as “rock the plastics,” where we trap plastics with biomineralization.</p>
    </div>
  </div>
</div>

<!--Concept Design-->
<div class="row">
  <div class="col">
    <h1>Concept Design</h1>
    <p>For the concept design phase, we attended the Bay Area Bioengineering Symposium (UC Berkeley), spoke to Brenda Goeden, Carolynn Box, and Win Cowger.</p>
    <!--UC Berkeley Bioengineering Symposium-->
    <div> <!--Add class-->
      <h2>UC Berkeley Bioengineering Symposium</h2>
      <p>May 2025</p>
      <p>Attendees: Avery, Alyssa, Zoya</p>
      <p>
        Our team attended a symposium hosted by iGEM at Berkeley, University of California Berkeley’s only hands-on genetic engineering club for undergraduates. Many speakers gave keynote addresses, including Dr. Leah Guthrie, Priyam Baruah, and Vishnu Rajan Tejus. Many iGEM at Berkeley teams presented their projects including CheRMiT: Chemical Reactions Mining via Transformers, de novo Design of Inhibitory Peptide for Protein-Protein Interactions, CRISPR-Based One-Step Plasmid Assembly in Vivo, One-Step Self-Clearing CRISPR-Based Gene Knockout System, Engineering TEM-1 beta-Lactamase with de novo Scaffolds, and Engineering L. Lactis to Express Antifungals that Inhibit Mold Growth. The event also included poster presentations and networking opportunities.
        </p>
      <h3>Key Feedback:</h3>
      <ul>
        <li>Contact with other synthetic biology teams and researchers.</li>
        <li>Advice on reaching out to sponsors and partnerships.</li>
        <li><b>Clear language, definitions, and understanding who your audience is a necessity</b> for scientific communication</li>
      </ul>
      <h3>Implementation</h3>
      <p>We discussed the importance of accessible language to avoid confusion and increase understanding when explaining scientific ideas to the public and others.</p>
    </div>
    <!--Brenda Goeden-->
    <div> <!--Add class-->
      <h2>Brenda Goeden</h2>
      <p>May 2025</p>
      <p>Attendees: Avery, Ansh, Baxter</p>
      <p>Brenda Goeden is the Sediment Program Manager at San Francisco Bay Conservation and Development Commission, a government commission dedicated to the protection, enhancement and responsible use of the San Francisco Bay. She has over 25 years of experience in sediment work, working with dredging in the San Francisco bay and sand mining. She explained the various issues conservationists face when working with dredging and sand mining, including disrupting local wildlife and using up nonrenewable resources. She suggested that our biomineralized material would be most useful in replacing layers of sand or gravel used in backfilling foundations.
      </p>
      <h3>Key Feedback</h3>
      <ul>
        <li>Replace backfill gravel or sand layers with calcium carbonate from microplastics.</li>
        <li>Look at SFEI, 5 Gyres (Carolynn Box).</li>
        <li>Piggyback on similar pre-existing projects, especially for permits.</li>
      </ul>
      <h3>Implementation</h3>
      <p>Because dredging and backfilling is a major issue in  the San Francisco Bay Area, we decided we wanted to address it to protect our community. We decided to use our material to replace non renewable materials used in backfilling. This became the primary application of the material we designed.
      </p>
    </div>
    <!--Caroylnn Box-->
    <div><!--Add class-->
      <h2>Carolynn Box</h2>
      <!--Add once writeup is fixed-->
    </div>
    <!--Win Cowger-->
    <div><!--Add class-->
      <h2>Win Cowger</h2>
      <p>July 9, 2025</p>
      <p>Attendees: Ansh, Paul, Khushi</p>
      <p>Win Cowger (A.K.A Dr. Trash) is the director of the Moore Plastics Center. He has published multiple research papers cataloguing microplastic types and their patterns of movement in the San Francisco Bay and other areas in California that are polluted by microplastics. He works with multiple nonprofit organizations in order to put innovative microplastics mitigation strategies into practice. </p>
      <h3>Key Feedback</h3>
      <p>Dr. Cowger advised that we should focus on capturing only fluorescent spheres for two reasons: because it would be easier to verify results on a fluorescent material and it’s less complicated to test our protocol on only one carefully controlled type of microplastic than on an assortment of plastics of various different compositions. He also said that it would be difficult to ensure that our biomineralization process captures only plastics. </p>
      <h3>Implementation</h3>
      <p>We decided to implement our project on filtered water only to remove the issue of non-plastic capture. In addition, we’ll be testing on only one form of common microplastic because of Win’s advice.
      </p>
    </div>
  </div>
</div>

{% endblock %}
