{% extends "layout.html" %}

{% block title %}Human Practices{% endblock %}

{% block page_content %}

<h1>Silver medal stuff</h1>

<hr/>
<div data-bs-spy="scroll" data-bs-target="#myScrollspy" data-bs-offset="80" tabindex="0">

  <div class="container">
    <div class="row">
      <!-- Scrollspy Sidebar -->

      <nav class="col-12 col-md-3 col-lg-2" id="myScrollspy" aria-label="Page section navigation">
        <div class="sticky-lg-top scrollspy-offset">
          <nav class="nav nav-pills flex-column" role="navigation">
            <a class="nav-link" href="#overview" aria-current="false">Overview</a>
            <a class="nav-link" href="#projectideation" aria-current="false">Project Ideation</a>
            <a class="nav-link" href="#concept" aria-current="false">Concept Design</a>
            <a class="nav-link" href="#verify" aria-current="false">Verification</a>
          </nav>
        </div>
      </nav>
      
      <!-- Main Content -->
      <div class="col-12 col-md-9" id="bumper">
        <div id="overview" class="mb-5">
          <h1>Overview</h1>
          <p>In developing our project, we sought to use research and expert outreach to tailor our project to the potential communities it would serve. We talked to stakeholders at each phase of the project, gaining valuable feedback on our ideas and prototypes. This process allowed us to discover the most practical path forward for our project and make sure we were using our time well.</p>
        </div>
        <hr/>
        <!--Project ideation-->
        <div id="projectideation" class="mb-5">
          <h1>Project Ideation</h1>
          <p>
            To supplement our preliminary research, we contacted academics in various areas we were interested in exploring. Our meeting with Dr. Phillip Kyriakakis and Dr. Sukri Silas, as well as a team poll and consultation with Dr. Chris Hernandez, our secondary PI, allowed us to finalize our project idea.
          </p>
          <!--todo update-->
          
          <h2>Dr. Phillip Kyriakakis</h2>
          <p class="d-inline-flex gap-1">
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapsePhillip" role="button" aria-expanded="false" aria-controls="collapsePhillip" aria-label="Toggle additional information about Phillip Kyriakakis">
              Learn More
            </a>
          </p>
          <div class="collapse" id="collapsePhillip">
            <div class="card card-body">
              <!--content-->
              <b>
                <p>February 14, 2025</p>
                <p>Attendees: Ansh, Khushi, Avery, Paul, Nick, Anandita, Sameer, Zoya, Alisha</p>
              </b>
              <p>Phillip Kyriakakis, Ph.D. is a Senior Research Scientist in the Bioengineering Department at Stanford University and a member of the Wu Tsai Institute for Neuroscience.</p>
              <!--Photo carousel-->
              <div class="d-flex justify-content-center py-5">
                <div id="carouselExampleControlsPhil" class="carousel slide" data-bs-ride="carousel" style="max-width: 800px;" aria-lab="Image carousel of our team visiting Dr. Kyriakakis's lab.">
                  <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active" aria-current="true">
                      <img src="https://static.igem.wiki/teams/5761/humanpractices/ihp/phil1.webp" class="d-block w-100" alt="Dr. Kyriakakis presenting slides">
                    </div>
                    <div class="carousel-item">
                      <img src="https://static.igem.wiki/teams/5761/humanpractices/ihp/phil2.webp" class="d-block w-100" alt="Dr. Kyriakakis meeting our team in a lobby">
                    </div>
                    <div class="carousel-item">
                      <img src="https://static.igem.wiki/teams/5761/humanpractices/ihp/phil3.webp" class="d-block w-100" alt="Dr. Kyriakakis giving a tour of his lab">
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsPhil" data-bs-slide="prev" aria-label="Previous image">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsPhil" data-bs-slide="next" aria-label="Next image">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </div>
              
              <h3>What We Learned</h3>
              <p>Our team visited Dr. Kyriakakis’ lab at Stanford. He gave a presentation on his research in optogenetics, explaining how it enables scientists to use light to control neurons and other cells. After the presentation, we split into two groups to tour different areas of his lab, where we also had the chance to briefly meet a member of the Stanford iGEM team. Dr. Kyriakakis highlighted opportunities for collaboration and pointed us toward local resources and mentors who could support our work.</p>
            
              <h3>Key Takeaways</h3>
              <ul>
                <li><b>Seek local resources and mentorship</b>: Connect with nearby universities, labs, and experts for advice and potential collaboration.</li>
                <li><b>Learn from peers</b>: Engaging with teams like Stanford iGEM can provide new perspectives and build community connections.</li>
              </ul>
            </div>
          </div>
          <h3>Implementation</h3>
          <p>We looked for community at Stanford University, which is what inspired us to collaborate with Stanford's Stanley Qi Lab's CRISPR Kit intiative.</p>
          <p>See the <a href="https://2025.igem.wiki/khanlab-bayarea/education#kit">education page</a> for more information.</p>
          <hr/>

          <h2>Dr. Sukrit Silas</h2>
          <p class="d-inline-flex gap-1">
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseSukrit" role="button" aria-expanded="false" aria-controls="collapseSukrit" aria-label="Toggle additional information about Sukrit Silas">
              Learn More
            </a>
          </p>            
          <div class="collapse" id="collapseSukrit">
            <div class="card card-body">
              <!--content-->
              <b>
                <p>April 18, 2025</p>
                <p>Attendees: Ansh, Zoya, Avery, Khushi, Anandita, Nikhil, Sameer, Meghna, Alyssa, Alisha, Paul, Sara</p>
              </b>
              <p>Dr. Sukrit Silas is a Principal Investigator at the Gladstone Institutes and an expert in phage-bacteria dynamics and bacterial immune systems. His group is particularly interested in phage accessory genes—small proteins that allow phages to evade bacterial defenses.</p>
              <h3>What We Learned</h3>
              <p>Our team visited Dr. Silas’ lab at the Gladstone Institutes while exploring a possible phage-based iGEM project. He explained the challenges of phage therapy, particularly how phages tend to be effective only against very specific bacterial strains, and how defenses like receptor shielding can block infection even when receptors appear to match.
                  He also introduced his lab’s ongoing work testing accessory genes by expressing them in E. coli to map their role in infection. 
                  His postdoc discussed how AI and computational tools can predict host range, model resistance, and guide cocktail design. Importantly, Dr. Silas suggested a potential iGEM direction: testing phage cocktails—combinations of different phages—to broaden effectiveness against E. coli.
                  Ultimately, this idea was not feasible for us since community labs such as BioCurious prohibit phage use, and we lacked access to phage-dedicated containment facilities.
              </p>
              <!--Photo carousel-->
              <div class="d-flex justify-content-center py-5">
                <div id="carouselExampleControlsSil" class="carousel slide" data-bs-ride="carousel" style="max-width: 800px;" aria-label="Image carousel showing our team visiting Dr. Sila's lab.">
                  <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active" aria-current="true">
                      <img src="https://static.igem.wiki/teams/5761/humanpractices/ihp/silas1.webp" class="d-block w-100" alt="Our team standing together with Dr. Silas and his team.">
                    </div>
                    <div class="carousel-item">                        
                      <img src="https://static.igem.wiki/teams/5761/humanpractices/ihp/silas2.webp" class="d-block w-100" alt="Dr. Silas presenting while our team sits to the side.">
                    </div>
                    <div class="carousel-item">
                      <img src="https://static.igem.wiki/teams/5761/humanpractices/ihp/silas3.webp" class="d-block w-100" alt="The team in Dr. Sila's lab.">
                    </div>
                    <div class="carousel-item">
                      <img src="https://static.igem.wiki/teams/5761/humanpractices/ihp/silas4.webp" class="d-block w-100" alt="Dr. Sila's lab with christmas decorations.">
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsSil" data-bs-slide="prev" aria-label="Previous image">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>                    
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsSil" data-bs-slide="next" aria-label="Next image">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </div>
                
              <h3>Key Takeaways</h3>
              <ul>
                <li><b>Phage-host interactions</b> are highly strain-specific, unlike antibiotics.</li>
                <li><b>Receptor shielding</b> is a key bacterial defense blocking many infections.</li>
                <li>Dr. Silas’ lab is creating a <b>functional map of accessory genes</b> to understand how phages evade defenses.</li>
                <li><b>AI modeling</b> can help predict phage-host interactions and optimize cocktails.</li>
                <li>A strong project idea was to test <b>phage cocktails</b>, but this was not possible due to biosafety limits.</li>
              </ul>
            </div>
          </div>
          <h3>Implementation</h3>
          <p>Our team researched if we could conduct the project Dr. Silas suggested. We looked into how to safely work with phages and discussed how we could use AI in our project.</p>      
          <hr/>


          <h2>Community Integration and Lab Space</h2>
          <p class="d-inline-flex gap-1">
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseLab" role="button" aria-expanded="false" aria-controls="collapseLab" aria-label="Toggle additional information about community integration and lab space">
              Learn More
            </a>
          </p>
          <div class="collapse" id="collapseLab">
            <div class="card card-body">
              <!--content-->
              <p>From the beginning, our team knew we wanted to integrate community projects and efforts into our project. Due to this, we decided to conduct wetlab work at BioCurious, a community biotech lab. Unfortunately, BioCurious has a policy against working with phages in order to protect other member’s work.</p>
            </div>
          </div>
          <h3>Implementation</h3>
          <p>We decided to not attempt a phage project in order to remain integrated with our community.</p>
          <hr/>

          <h2>Team Poll</h2>
          <img src="https://static.igem.wiki/teams/5761/humanpractices/ihp/votes.webp" alt="Pie chart of votes, with 11.8% of votes for grass water loss, 29.4% of votes for phage therapy, and 58.8% for living houses." class="img-fluid max-width:1250px">
          <p class="d-inline-flex gap-1">
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapsePoll" role="button" aria-expanded="false" aria-controls="collapsePoll" aria-label="Toggle additional information about the team poll">              Learn More
            </a>
          </p>
          <div class="collapse" id="collapsePoll">
            <div class="card card-body">
                <!--content-->
                <p><b>April 2025</b></p>
                <p>Simultaneously as discussing community labs, we polled our members on which project they would like to pursue. At this point we had narrowed down to three ideas: Phage therapy (ruled out), living houses, and grass water loss. Living Houses won with 58.8% of the vote, making it our official project.</p>
            </div>
          </div>
          <hr/>
        </div>

        <h2>Project Selection</h2>
        <p class="d-inline-flex gap-1">
          <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseSelect" role="button" aria-expanded="false" aria-controls="collapseSelect" aria-label="Toggle additional information about project selection">
            Learn More
          </a>
        </p>
        <div class="collapse" id="collapseSelect">
          <div class="card card-body">
            <!--content-->
            <b>
              <p>May 2025</p>
            </b>
            <p>With our project decided, we met with our secondary investigator, Dr. Christopher Hernandez, who is a professor at University of California, San Francisco. At this point the project idea was only defined as designing a “living” material that would grow or build itself (hence “living houses"). We discussed biomineralization, which is Dr. Hernandez’s specialty, and how to ensure our project helps the community. We discussed a variety of problems, including plastics and microplastics returning to the environment after capture. With Dr. Hernandez's advice, we pivoted our project to address local problems.</p>
          </div>
        </div>
        <h3>Implementation</h3>
        <p>Our project “living houses” was redefined as “rock the plastics,” where we trap plastics with biomineralization.</p>
        <hr/>

        <!--Concept design-->
        <h1 id="concept" class="mb-5">Concept Design</h1>
        <!--todo update-->
        <p>For the concept design phase, we attended the Bay Area Bioengineering Symposium (UC Berkeley), spoke to Brenda Goeden, Carolynn Box, and Win Cowger.</p>
          
          <h2>UC Berkeley Bioengineering Symposium</h2>
          <p class="d-inline-flex gap-1">
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseBerkeley" role="button" aria-expanded="false" aria-controls="collapseBerkeley" aria-label="Toggle additional information about the UC Berkeley Bioengineering Symposium">
              Learn More
            </a>
          </p>
          <div class="collapse" id="collapseBerkeley">
            <div class="card card-body">
              <!--content-->
              <img src="https://static.igem.wiki/teams/5761/humanpractices/ihp/babs2.webp" alt="Bay Area Bioengineering Symposium flyer" class="img-fluid" style="max-width:500px;">
              <b>
                <p>April 2025</p>
                <p>Attendees: Avery, Alyssa, Zoya</p>
              </b>
              <p>
                Our team attended a symposium hosted by iGEM at Berkeley, University of California Berkeley’s only hands-on genetic engineering club for undergraduates. Many speakers gave keynote addresses, including Dr. Leah Guthrie, Priyam Baruah, and Vishnu Rajan Tejus. Many iGEM at Berkeley teams presented their projects including CheRMiT: Chemical Reactions Mining via Transformers, de novo Design of Inhibitory Peptide for Protein-Protein Interactions, CRISPR-Based One-Step Plasmid Assembly in Vivo, One-Step Self-Clearing CRISPR-Based Gene Knockout System, Engineering TEM-1 beta-Lactamase with de novo Scaffolds, and Engineering L. Lactis to Express Antifungals that Inhibit Mold Growth. The event also included poster presentations and networking opportunities.
              </p>
              <h3>Key Feedback:</h3>
              <ul>
                <li>Contact with other synthetic biology teams and researchers.</li>
                <li>Advice on reaching out to sponsors and partnerships.</li>
                <li><b>Clear language, definitions, and understanding who your audience is a necessity</b> for scientific communication</li>
              </ul>
            </div>
          </div>
          <h3>Implementation</h3>
          <p>We discussed the importance of accessible language to avoid confusion and increase understanding when explaining scientific ideas to the public and others.</p>
          <hr/>

          <!--Brenda Goeden-->
          <h2>Brenda Goeden</h2>
          <p class="d-inline-flex gap-1">
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseBrenda" role="button" aria-expanded="false" aria-controls="collapseBrenda" aria-label="Toggle additional information about Brenda Goeden">
              Learn More
            </a>
          </p>
          <div class="collapse" id="collapseBrenda">
            <div class="card card-body">
              <!--content-->
              <img src="https://static.igem.wiki/teams/5761/humanpractices/ihp/brendagoedenmeeting.webp" alt="Online meeting with Brenda Goeden and 3 members of our team" class="img-fluid" style="max-width:100%;">
              <b>
                <p>May 2025</p>
                <p>Attendees: Avery, Ansh, Baxter</p>
              </b>
              <p>Brenda Goeden is the Sediment Program Manager at San Francisco Bay Conservation and Development Commission, a government commission dedicated to the protection, enhancement and responsible use of the San Francisco Bay. She has over 25 years of experience in sediment work, working with dredging in the San Francisco bay and sand mining. She explained the various issues conservationists face when working with dredging and sand mining, including disrupting local wildlife and using up nonrenewable resources. She suggested that our biomineralized material would be most useful in replacing layers of sand or gravel used in backfilling foundations.
              </p>
              <h3>Key Feedback</h3>
              <ul>
                <li>Replace backfill gravel or sand layers with calcium carbonate from microplastics.</li>
                <li>Look at SFEI, 5 Gyres (Carolynn Box).</li>
                <li>Piggyback on similar pre-existing projects, especially for permits.</li>
              </ul>
            </div>
          </div>
          <h3>Implementation</h3>
          <p>Because dredging and backfilling is a major issue in  the San Francisco Bay Area, we decided we wanted to address it to protect our community. We decided to use our material to replace non renewable materials used in backfilling. This became the primary application of the material we designed.
          </p>
          <hr/>

          <h2>Carolynn Box</h2>
          <p class="d-inline-flex gap-1">
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseCarolynn" role="button" aria-expanded="false" aria-controls="collapseCarolynn" aria-label="Toggle additional information about Carolynn Box">
              Learn More
            </a>
          </p>
          <div class="collapse" id="collapseCarolynn">
            <div class="card card-body">
              <!--content-->
              <img src="https://static.igem.wiki/teams/5761/humanpractices/ihp/carolynnbox.webp" alt="Carolynn standing on a boat with her arms crossed" class="img-fluid">
              <b>
                <p>June 19, 2025</p>
                <p>Attendees: Paul, Ansh, Zoya, Khushi, Baxter</p>
              </b>
              <p>Carolynn Box is a private-sector microplastics researcher and oceanics consultant who has worked with 5Gyres, a microplastics primary research group, and many other places. She has over twenty years of experience as a conservationist and has spent the last ten years as a microplastics activist. She started her own plastic-free grocery company which has partnered with four others to form a collective.</p>
              <h3>Key Feedback</h3>
              <p>Although Ms. Box didn’t have expertise with microplastic sequestration and removal, her advice was still helpful for understanding how microplastics enter the Bay. She also talked about networking opportunities (people we could get in touch with for more information about the things she wasn’t so sure about). She told us that there was little legal action that could be taken to mitigate microplastic pollution because there are very few laws regulating it.</p>
            </div>
          </div>
          <h3>Implementation</h3>
          <p>We talked with Win Cowger on the advice of Ms. Box. Ms. Box also echoed Ms. Goeden’s idea to use our biomaterial for road infilling, confirming what was already a pretty well-formed concept</p>
          <hr/>

        <h2>Win Cowger</h2>
        <p class="d-inline-flex gap-1">
          <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseWin" role="button" aria-expanded="false" aria-controls="collapseWin" aria-label="Toggle additional information about Win Cowger">
            Learn More
          </a>
        </p>
        <div class="collapse" id="collapseWin">
          <div class="card card-body">
            <!--content-->
            <img src="https://static.igem.wiki/teams/5761/humanpractices/ihp/wincowger.webp" alt="Win standing on the San Francisco shoreline" class="img-fluid">
            <b>
              <p>July 9, 2025</p>
              <p>Attendees: Ansh, Paul, Khushi</p>
            </b>  
            <p>Win Cowger (A.K.A Dr. Trash) is the director of the Moore Plastics Center. He has published multiple research papers cataloguing microplastic types and their patterns of movement in the San Francisco Bay and other areas in California that are polluted by microplastics. He works with multiple nonprofit organizations in order to put innovative microplastics mitigation strategies into practice. </p>
            <h3>Key Feedback</h3>
            <p>Dr. Cowger advised that we should focus on capturing only fluorescent spheres for two reasons: because it would be easier to verify results on a fluorescent material and it’s less complicated to test our protocol on only one carefully controlled type of microplastic than on an assortment of plastics of various different compositions. He also said that it would be difficult to ensure that our biomineralization process captures only plastics. </p>
          </div>
        </div>
        <h3>Implementation</h3>
        <p>We decided to implement our project on filtered water only to remove the issue of non-plastic capture. In addition, we’ll be testing on only one form of common microplastic because of Win’s advice.
        <hr/>

        <!--Verification-->
        <div id="verify" class="mb-5">
          <h1>Verification Phase</h1>
          <!--todo update-->
          <p>In order to make sure our work and research would actually fix microplastic leaching and replacing backfilling resources, we spoke to a number of experts to verify and supplement our work.</p>
          
          <!--Kelsey DeFrates-->
          <h2>Dr. Kelsey Defrates</h2>
          <p class="d-inline-flex gap-1">
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseKelsey" role="button" aria-expanded="false" aria-controls="collapseKelsey" aria-label="Toggle additional information about Dr. Kelsey Defrates">
              Learn More
            </a>
          </p>
          <div class="collapse" id="collapseKelsey">
            <div class="card card-body">
              <!--content-->
              <img src="https://static.igem.wiki/teams/5761/humanpractices/ihp/kelsey.webp" alt="Dr. Kelsey Defrates" class="img-fluid">
              <b>
                <p>July 1, 2025 and July 8, 2025</p>
                <p>Attendees: Ansh, Alyssa</p>
              </b>
              <p>Dr. Kelsey Defrates is a postdoc at Dr. Hernandez’s lab at UCSF. She focuses on materials characterization, particularly working with materials created using protein polymerization. She also works with S.pastuerii based biomineralization.</p>
              <p>We met with Kelsey twice over video call, and discussed further over email. During that time, Kelsey has provided us with the protocols, media, and S. pasteurii needed to do biomineralization, as we are using S. pasteurii as a biomineralization positive control in our project.
              </p>
              <h3>Key Feedback</h3>
              <p>CMM- acts as negative control, add CaCl2 to create CMM+ (the precipitation media). We should use fine-grain beach-like sand if possible, but playground sand will still work. Dr. Defrates also provided protocols, media, S. pasteurii, media protocols, growing protocols, glycerol stock protocols, BHI broth CMM- broth, and S. pasteurii glycerol stock.
              </p>
              </ul></div>
          </div>
          <h3>Implementation</h3>
          <p>Our team used the protocols, media, S. pasteurii, media protocols, growing protocols, glycerol stock protocols, BHI broth CMM- broth, and S. pasteurii glycerol stock Dr. Defrates provided.</p>
          <hr/>

          <!--Dr. Brian Ross-->
          <h2>Dr. Brian Ross</h2>
          <p class="d-inline-flex gap-1">
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseBrian" role="button" aria-expanded="false" aria-controls="collapseBrian" aria-label="Toggle additional information about Dr. Brian Ross">
              Learn More
            </a>
          </p>
          <div class="collapse" id="collapseBrian">
            <div class="card card-body">
              <!--content-->  
              <img src="https://static.igem.wiki/teams/5761/humanpractices/ihp/brianross.webp" alt="Dr. Brian Ross" class="img-fluid">            
              <b>
                <p>July 2, 2025</p>
                <p>Attendees: Alexei, Alisha, Nikhil, Sameer</p>
              </b>
              <p>Dr. Ross has a bachelor of science in aerospace, aeronautical, and astronautical engineering from the University of Maryland and a PhD from MIT on physics.  He’s previously worked as a postdoc in computational biology at the University of Washington and the University of Colorado. He currently works as a biophysicist, with experience in programmable modeling.
              </p>
              <h3>Advice</h3>
              <p>We met with Dr. Ross online where he provided us with a lot of background and helpful information guiding our Drylab, mainly making sure our plan for Drylab was on track and would actually be beneficial to the wetlab. Dr. Ross explained that code will not be the main problem; the difficulty is more about implementing the ODE function and finding the proper variables (we would have to get some from literature).
              </p>
            </div>
          </div>
          <h3>Implementation</h3>
          <p>We used Dr. Ross's advice in drylab in building our ODE function. See <a href="https://2025.igem.wiki/khanlab-bayarea/model">the model page</a> for more information.</p>
          <hr/>

          <!--Shanna Bonnano-->
          <h2>Shanna Bonnano</h2>
          <p class="d-inline-flex gap-1">
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseShanna" role="button" aria-expanded="false" aria-controls="collapseShanna" aria-label="Toggle additional information about Shanna Bonnano">
              Learn More
            </a>
          </p>
          <div class="collapse" id="collapseShanna">
            <div class="card card-body">
              <img src="https://static.igem.wiki/teams/5761/humanpractices/ihp/shannacircle.webp" alt="Shanna Bonnano" class="img-fluid">
              <b>
                <p>July 8, 2025</p>
                <p>Attendees:  Alyssa, Ansh, Khushi, Avery, Alexei, Alisha, Sameer, Rohan, Nikhil, Nick</p>
              </b>
              <p>Shanna Bonnano is a graduate student at Neel Joshi’s Biologically Fabricated Materials Lab, working on curli secretion and responsive biofilm materials. She has previously investigated secretion trade-offs in E. coli and tunable living composites, and her current research focuses on developing engineered probiotics for targeted delivery and treatment of gastrointestinal diseases.
              </p>
              <h3>Advice</h3>
              <p>Through an email, we got insight on curli quantification methods and got feedback on our synthetically designed plasmid pET-csg-sazCA-amp. We later met Shanna online, where we asked about potentially creating a fusion protein with urease and csgA. Shanna informed us that her team had experience fusing smaller proteins to csgA, and that larger, multi-subunit proteins like urease might present a challenge. Shanna was also a great help in sending us E. coli with the plasmid that would express a fusion protein of csgA and a GFP antibody.
              </p>
              <h3>Key Feedback</h3>
              <ul>
                <li>The Joshi Lab uses a Congo Red assay to quantify curli fiber expression.</li>
                <li>Their plasmids use all the natural RBSs. Ours don’t, not for csgB, but it should be fine (according to Shanna)</li>
              </ul>
            </div>
          </div>
          <h3>Implementation</h3>
          <p>Due to Shanna’s advice, we decided to use a Congo Red assay instead of a Thioflavin T assay for quantification of curli fibers. It was also due to Shanna’s recommendations that we ran a pull down as well as fluorescence based assay for Curli fibers.
          <hr/>

          <!--Shohreh Vanaei-->
          <h2>Shohreh Vanaei</h2>
          <p class="d-inline-flex gap-1">
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseShohreh" role="button" aria-expanded="false" aria-controls="collapseShohreh" aria-label="Toggle additional information about Shohreh Vanaei">
              Learn More
            </a>
          </p>
          <div class="collapse" id="collapseShohreh">
            <div class="card card-body">
              <b>
                <p>July 27, 2025</p>
                <p>Attendees: Ansh, Khushi</p>
              </b>
              <img src="https://static.igem.wiki/teams/5761/humanpractices/ihp/vanaeicircle.webp" alt="Shohreh Vanaei" class="img-fluid">
              <p>Shohreh Vanaei is a PhD student at  Dr. Neel Joshi’s Biologically Fabricated Materials lab. At Northeastern University, her current research centers on the development of engineered microbial systems for rapid and accessible detection of chemical & biological compounds.
              </p>
              <h3>Advice</h3>
              <p>We met Shohreh when visiting Joshi lab in person at Northeastern University. She prepared and provided us with a E.coli Mach1 strain transformed with pBbB8k-csg-NbGFP, a plasmid which the Joshi lab had confirmed expresses Curli fibers and showed us around the lab. She also brought to our attention the concern of protein aggregate formation when using Congo red assays. While in the lab, Shohreh described how they may use PDMS microfluidic devices, noting that they had to use specialized molds since 3d prints did not have high enough resolution. However, when we mentioned how large our mold was, Shohreh mentioned that should be okay.
              </p>
              <h3>Key Feedback</h3>
              <ul>
                <li>Congo red can form aggregates with curli fibers leading to inconsistent spec readings.</li>
                <li>3d printed inverse molds should be sufficient for us to make PDMS devices of the size we are making.
                </li>
              </ul></div>
          </div>
          <h3>Implementation</h3>
          <p>We were able to utilize the strain Ms. Vanaei provided us to act as a positive control in our biofilm formation assays. Further, to counteract the issue of aggregate formation, we utilized a strategy Shoreh mentioned was used in Joshi lab—taking a grid of measurements in a plate reader.</p>
          <hr/>

          <!--todo ucsc igem-->
          <h2>UC Santa Cruz iGEM Collaboration</h2>
          <p class="d-inline-flex gap-1">
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseUCSC" role="button" aria-expanded="false" aria-controls="collapseUCSC" aria-label="Toggle additional information about the UCSC iGEM collaboration">
              Learn More
            </a>
          </p>
          <div class="collapse" id="collapseUCSC">
            <div class="card card-body">
              <!--content-->
              <b>
                <p>Date: September 9, 2025</p>
                <p>Attendees: Avery, Alyssa, Meilin, Ansh, Uday, Paul, Rohan, Alexei, Nikhil</p>
              </b>
              <p>
                We met with the University of California, Santa Cruz iGEM team for a joint collaboration. 
                The UCSC team presented their project on their solution to detoxifying contaminated solutions 
                and gave feedback on our team’s work and presentation.
              </p>
              <!--images-->
              <div class="d-flex justify-content-center py-5">
                <div id="carouselExampleControlsUCSC" class="carousel slide" data-bs-ride="carousel" style="max-width: 800px;" aria-label="Image carousel showing our collaboration with UCSC iGEM.">
                  <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active" aria-current="true">
                      <img src="https://static.igem.wiki/teams/5761/humanpractices/ihp/ucsc-group.webp" class="d-block w-100" alt="Our team standing together with the UCSC team.">
                    </div>
                    <div class="carousel-item">                        
                      <img src="https://static.igem.wiki/teams/5761/humanpractices/ihp/ucsc-ucsc.webp" class="d-block w-100" alt="The UCSC team presenting a slideshow.">
                    </div>
                    <div class="carousel-item">
                      <img src="https://static.igem.wiki/teams/5761/humanpractices/ihp/ucsc-khan.webp" class="d-block w-100" alt="Our team presenting a slideshow.">
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsUCSC" data-bs-slide="prev" aria-label="Previous image">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>                    
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsUCSC" data-bs-slide="next" aria-label="Next image">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <h3>Key Feedback</h3>
              <p>
                The UCSC team was very impressed by all the work our team accomplished. 
                In terms of research, they recommended using RNA sequencing to check if our construct was working correctly. 
                In terms of presentation, they advised us to have a clear goal when presenting to communicate clearly.
              </p>
            </div>
          </div>
        </div>
        <h3>Implementation</h3>
        <p>
          We began working to see if we could use RNA sequencing to confirm our results 
          and made it a point to have a clear goal when working on presentations.
        </p>

      </div>
    </div>
  </div>
</div>
{% endblock %}
