{% extends "layout.html" %}
  
{% block title %}Inclusivity{% endblock %}
{% block lead %}Every individual, regardless of background or experience, should have an equal opportunity to engage with scientific knowledge and technological development.{% endblock %}

{% block page_content %}

<div class="row">
  <div class="col">
    <!Our Team..>
    <h2>Our Team</h2>
    <p>
      As the only high school iGEM team in Northern California, we do not restrict membership to  members from Khan Lab School. 
    </p>
    <p> 
      Instead, we invite students from across the Bay Area to join us, representing a variety of private and public schools like Helios, Gunn, La Entrada, Proof School, Bellarmine College Preparatory, and San Francisco University High School. 
    </p>
    <p>
      Our team is proud to be majority female and people of color.
    </p>

    <!Community Engagement>
    <h2>Community Engagement</h2>
    <p>
      We also actively seek diverse perspectives through our educational initiatives, expert outreach, and human practices research. We led workshops in Mandarin and Spanish to facilitate synthetic biology learning in underrepresented communities; our events appealed to a variety of ages from 6 to 18.
    </p>

    <!Future Plans>
    <h2>Future Plans</h2>
    <p>
      In the future, we hope to use the course we have designed to distribute and spark interest in synthetic biology. Our goal is to make these materials accessible to everyone, ensuring that people from all backgrounds have the opportunity to explore and engage with synthetic biology.
    </p>
</div>


{% endblock %}
