{% extends "layout.html" %}

{% block title %}Inclusivity{% endblock %}
{% block lead %}
    <div class="page-header" id="inclusivity-header">
        <h1>Inclusivity</h1>
    </div>
{% endblock %}
{% block page_content %}

<div data-bs-spy="scroll" data-bs-target="#myScrollspy" data-bs-offset="20">

  <div class="container">
    <div class="row">
      <!-- Scrollspy Sidebar -->
      <nav class="col-12 col-md-3 col-lg-2" id="myScrollspy" aria-label="Page section navigation">
        <div class="sticky-lg-top scrollspy-offset">
          <nav class="nav nav-pills flex-column" role="navigation">
            <a class="nav-link" href="#obstacles" aria-current="false">Obstacles</a>
            <a class="nav-link" href="#team" aria-current="false">Our Team</a>
            <a class="nav-link" href="#lab" aria-current="false">Community Lab</a>
            <a class="nav-link" href="#education" aria-current="false">Education</a>
            <a class="nav-link" href="#wiki" aria-current="false">Wiki Accessibility</a>
            <a class="nav-link" href="#future" aria-current="false">Future Plans</a>
            <a class="nav-link" href="#references" aria-current="false">References</a>
          </nav>
        </div>
      </nav>

      <!-- Main Content -->
      <div class="col-12 col-md-9" id="bumper">
        <div id="obstacles" class="row">
          <h1>Obstacles</h1>
          <p>Worldwide, knowledge about synthetic biology is limited. 
            In 2021, 85% of people were not aware that synthetic biology existed (Public Attitudes). 
            Many in the U.S. find it difficult to access science due to a variety of factors including gender, race, age, socioeconomic status, and language. 
            We sought to overcome these obstacles in our team and our efforts.
          </p>
        </div>
        <div id="team" class="row">
          <h1>Our Team</h1>
          <p>We aspire to make synthetic biology accessible to all students. 
            As the only high school iGEM team in all of Northern California, we understand that being based in a private school is one of many barriers to synthetic biology. 
            To account for this, <b>we encourage non-Khan Lab School students to join our team</b>. 
            As a result, our team represents a <b>wide variety of public and private schools</b> including 
            Helios School, Gunn High School, La Entrada School, Proof School, Bellarmine College Preparatory, and San Francisco University High School.
          </p>
          <figure>
            <img src="https://static.igem.wiki/teams/5761/humanpractices/inclusivity/schoolmap.webp" alt="Map of schools our members attend." class="img-fluid">
            <figcaption>Map of schools our team members attend.</figcaption>
          </figure>
          <p>We believe diversity must also come from within our team. 
            Our team members represent a diverse set of different identities, with <b>88% of our members identifying as people of color, 
            53% of our members identifying as female, and our members collectively speaking 15 different languages</b>.
          </p>
        </div>
        <div id="lab" class="row">
          <h1>Community Lab</h1>
          <p>Despite its name, Khan Lab School does not have laboratory space. 
            Due to this, our team is a proud member of Biocurious, a community lab in Santa Clara. 
            Biocurious connects us to other scientists and community efforts. 
            This allows us to engage our community and form long-lasting connections. 
          </p>
          <figure>
            <img src="https://static.igem.wiki/teams/5761/humanpractices/inclusivity/khushi-lab.webp" alt="A member performs wetlab work near a fumigation hood." class="img-fluid">
            <figcaption>Khushi, a member of our team, performing wetlab work at Biocurious.</figcaption>
          </figure>
        </div>
        <div id="education" class="row">
          <h1>Education</h1>
          <p>Our educational efforts directly brought synthetic biology to a diverse set of students. 
            We visited both <b>public and private schools</b>, including Helios school (private) and Laurel Elementary (public). 
            Our session at Laurel Elementary was run in <b>Spanish</b> and English, to cater to the <b>Spanish immersion students</b>. 
            Our session at the Krishnadham temple was run in <b>Hindi, Gujarati, </b>and English. 
            Our session with <b>students from China</b> was run <b>entirely in Mandarin</b>, with discussion and Q&As between our members and the students.
          </p>
          <p>
            Additionally, we ran a class at the Mandir Shreemaya Krishnadham Temple, a <b>Hindu temple</b> in San Jose. 
            This allowed us to reach our local Hindu community.
          </p>
          <p>
            In collaboration with Stanford University’s Stanley Qi Lab, we helped adapt CRISPR Kit curriculum to <b>high school students</b>, 
            an effort which is still ongoing through Khan Lab School’s Cornerstone program. 
            Our educational sessions with the Qi Lab at Khan Lab School gave our students <b>hands-on synthetic biology lab experience</b>. 
            Students were given the opportunity to further explore CRISPR, bioengineering, and more, with mentorship from the Qi Lab.
          </p>
          <p>
            Our team posted about our efforts on social media, spreading awareness about our team and mission, 
            allowing us to reach anyone with an internet connection.
          </p>
          <p>See the <a href="https://2025.igem.wiki/khanlab-bayarea/education" target="_blank">education page</a> for more.</p>
        </div>
        <div id="wiki" class="row">
          <h1>Wiki Accessibility</h1>
          <p>
            Our team designed and built our wiki to be <b>accessible to those with disabilities</b> by complying with the web content accessibility guidelines (WCAG). 
            The entire wiki is <b>navigable by keyboard</b>, making it navigable to those unable to use a mouse or those utilizing external navigation tools. 
            All images are accompanied by <b>alt tags</b> for those with visual impairments. 
            Alt tags make images accessible through the use of screen readers or braille converters. 
            All pages have distinct and descriptive titles to distinguish what page users are on. 
            The color palette used is <b>friendly to those with color blindness</b>, with a <b>99.85% confidence rating</b> (HP et al.). 
            All collapsible content, image carousels, and navigation bars are accompanied by ARIAs,<b> accessible rich internet applications</b>, which form <b>hints and error messages, live content updates, and more</b>. 
            All videos are properly titled and have validated <b>subtitles</b>, with videos not in English being captioned in the original language and English. 
            All videos also have <b>accompanying transcripts</b> containing descriptions. 
            All <b>links are clearly labeled</b>, allowing users to easily understand what they click on. 
          </p>
        </div>
        <div id="future" class="row">
          <h1>Future Plans</h1>
          <p>We push our own members to pursue synthetic biology even after graduation. 
            During our joint visit with the UCSC iGEM team, visiting UCSC students encouraged our members to <b>pursue further education</b>. 
            The students explained the value of not just an undergraduate education in related fields, 
            but encouraged our members to pursue <b>graduate school</b>, and <b>careers or research in synthetic biology</b>.
          </p>
        </div>
        <div id="references" class="mb-5">
          <h1>References</h1>
          <p>
            Synthetic Biology Future Science Platform. (2021). Public attitudes towards synthetic biology. 
            <a href="https://research.csiro.au/synthetic-biology-fsp/public-attitudes/" target="_blank">https://research.csiro.au/synthetic-biology-fsp/public-attitudes/.</a>
          </p>
          <p>
            Stevens HP, Winegar CV, Oakley AF, Piccolo SR. 
            Estimating the prevalence of images in the biology literature that are problematic for people with a color-vision deficiency. 
            <a href="https://bioapps.byu.edu/colorblind_image_tester" target="_blank">https://bioapps.byu.edu/colorblind_image_tester.</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
