{% extends "layout.html" %}
  
{% block title %}Inclusivity{% endblock %}
{% block lead %}Every individual, regardless of background or experience, should have an equal opportunity to engage with scientific knowledge and technological development.{% endblock %}

{% block page_content %}

<div class="row">
  <div class="col">
    <!--Put the text here Shreeya-->
    <h2>Our Team</h2>
    <p>
      As the only high school iGEM team in Northern California, we don’t restrict membership to  members from Khan Lab School. 
    </p>
    <p>
      Instead, we invite students from across the Bay Area to join us, representing a variety of private and public schools like Helios, Gunn, La Entrada, Proof School, Bellarmine College Preparatory, and San Francisco University High School. 
    </p>
    <p>
      Our team is proud to be majority female and people of color.
    </p>
  </div>
</div>


{% endblock %}
