{% extends "layout.html" %}

{% block title %}Team{% endblock %}
{% block lead %}This page is dedicated to introducing the individuals who made our iGEM project possible. Here, you'll find information about our team members, instructors, and advisors.{% endblock %}

{% block page_content %}

<!--Default stuff (delete later)-->
<div class="row">
  <div class="col-8">
    <h2>What Should this Page Contain?</h2>
    <hr />
    <ul>
      <li>Include pictures of your teammates, don't forget instructors and advisors!</li>
      <li>You can add a small biography or a few words from each team member, to tell us what you like, and what motivated you to participate in iGEM.</li>
      <li>Present your lab environment, your institution, and perhaps glimpses of your city or region.</li>
      <li>Showcase the expertise and guidance of your instructors and advisors.</li>
    </ul>
    <div class="bd-callout bd-callout-info">
      <strong>Important:</strong> Remember that your wiki will be archived and remain publicly accessible. Be mindful of the personal information you share. Avoid posting sensitive details. Be sure everyone shown in pictures agree to them being shown.
    </div>
  </div>
  <div class="col-4">
    <h2>Inspirations</h2>
    <hr />
    <ul>
      <li><a href="https://2024.igem.wiki/waseda-tokyo/members">2024 Waseda-Tokyo</a></li>
      <li><a href="https://2024.igem.wiki/aachen/team">2024 Aachen</a></li>
      <li><a href="https://2024.igem.wiki/patras/team">2024 Patras</a></li>
      <li><a href="https://2024.igem.wiki/dtu-denmark/team">2024 DTU-Denmark</a></li>
      <li><a href="https://2024.igem.wiki/fudan/team">2024 Fudan</a></li>
    </ul>
  </div>
</div>

<!--Added stuff-->

<!--Team photo-->
<div class="container">
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-center">
        <!--UPDATE PHOTO!!!-->
        <img src="https://static.igem.wiki/teams/5761/team/members/placeholder.webp" alt="Team photo" width="1000px">
      </div>
    </div>
  </div>
</div>

<!--Student Members-->
<div class="team-member-section">
  <div class="row">
    <div class="col-12 d-flex flex-wrap justify-content-center">
      <h1 class="w-100 text-center mb-4">Student Members</h1>
        <!--Alexei-->
        <!--Alisha-->
        <div class="team-member-square">
          <img src="https://static.igem.wiki/teams/5761/team/members/alisha-faraz.webp" alt="Alisha Faraz photo">
          <div class="name-title-overlay">
            <div class="name">Alisha Faraz</div>
          </div>
        </div>
        <!--Alyssa-->
        <!--Anandita-->
        <!--Ansh-->
        <!--Aria-->
        <!--Avery-->
        <!--Khushi-->
        <!--Meilin-->
        <!--Nick-->
        <!--Nikhil-->
        <!--Paul-->
        <!--Rohan-->
        <!--Sameer-->
        <!--Sara-->
        <!--Shreeya-->
        <!--Zoya-->
    </div>
  </div>
</div>

<!--Mentors-->
<div class="container">
  <div class="row">
    <div class="col-12 d-flex flex-wrap justify-content-center">
      <h1>Mentors</h1>
      <!--Baxter-->
      <!--Chris-->
      <!--Jenny Mae-->
      <!--Galen-->
      <!--Wilfred-->
      <!--Smruti-->
    </div>
  </div>
</div>

{% endblock %}
