{% extends "layout.html" %}

{% block title %}Team{% endblock %}
{% block lead %}This page is dedicated to introducing the individuals who made our iGEM project possible. Here, you'll find information about our team members, instructors, and advisors.{% endblock %}

{% block page_content %}

<!--Default stuff (delete later)-->
<div class="row">
  <div class="col-8">
    <h2>What Should this Page Contain?</h2>
    <hr />
    <ul>
      <li>Include pictures of your teammates, don't forget instructors and advisors!</li>
      <li>You can add a small biography or a few words from each team member, to tell us what you like, and what motivated you to participate in iGEM.</li>
      <li>Present your lab environment, your institution, and perhaps glimpses of your city or region.</li>
      <li>Showcase the expertise and guidance of your instructors and advisors.</li>
    </ul>
    <div class="bd-callout bd-callout-info">
      <strong>Important:</strong> Remember that your wiki will be archived and remain publicly accessible. Be mindful of the personal information you share. Avoid posting sensitive details. Be sure everyone shown in pictures agree to them being shown.
    </div>
  </div>
  <div class="col-4">
    <h2>Inspirations</h2>
    <hr />
    <ul>
      <li><a href="https://2024.igem.wiki/waseda-tokyo/members">2024 Waseda-Tokyo</a></li>
      <li><a href="https://2024.igem.wiki/aachen/team">2024 Aachen</a></li>
      <li><a href="https://2024.igem.wiki/patras/team">2024 Patras</a></li>
      <li><a href="https://2024.igem.wiki/dtu-denmark/team">2024 DTU-Denmark</a></li>
      <li><a href="https://2024.igem.wiki/fudan/team">2024 Fudan</a></li>
    </ul>
  </div>
</div>

<!--Added stuff-->

<!--Team photo-->
<div class="container">
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-center">
        <!--UPDATE PHOTO!!!-->
        <img src="https://static.igem.wiki/teams/5761/team/members/placeholder.webp" alt="Team photo" width="1000px">
      </div>
    </div>
  </div>
</div>

<!--Student Members-->
<div class="team-member-section">
  <div class="row">
    <div class="col-12 d-flex flex-wrap justify-content-center">
      <h1 class="w-100 text-center mb-4">Student Members</h1>
        <!--Alexei-->
        <div class="team-member-square">
          <!--Update photo!!!-->
          <img src="https://static.igem.wiki/teams/5761/team/members/alexei-manuel.webp" alt="Alexei Manuel photo">
          <div class="name-title-overlay">
            <div class="name">Alexei Manuel</div>
          </div>
          <div class="overlay">
            Alexei is a 12th grader at San Francisco University High School. He got onto the KLS iGEM team by cold emailing every Bay Area team until he found one that still existed (KLS). Outside of swims, friends, and projects in biology and AI, he experiments with supplements and diets, usually to his family’s detriment.
          </div>
        </div>
        <!--Alisha-->
        <div class="team-member-square">
            <img src="https://static.igem.wiki/teams/5761/team/members/alisha-faraz.webp" alt="Alisha Faraz photo">
            <div class="name-title-overlay">
              <div class="name">Alisha Faraz</div>
            </div>
          <div class="overlay">
            Alisha is a 12th grader at Khan Lab School. She enjoys working on programming projects, reading mystery novels, watching mystery novels and drinking lots of boba with her friends.
          </div>
        </div>
        <!--Alyssa-->
        <div class="team-member-square">
          <img src="https://static.igem.wiki/teams/5761/team/members/alyssa-tang.webp" alt="Alyssa Tang photo">
          <div class="name-title-overlay">
            <div class="name">Alyssa Tang</div>
          </div>
          <div class="overlay">
            Proofnik junior Alyssa is part three of the KLS biology dream team. She unironically enjoys math and science - to the point that her high school, Proof, is themed around it - and considers them her “hobbies.” She joined the Khan Lab iGEM team after emailing the entire team her resumé.
          </div>
        </div>
        <!--Anandita-->
        <div class="team-member-square">
          <img src="https://static.igem.wiki/teams/5761/team/members/anandita-m.webp" alt="Anandita Mukherjee photo">
          <div class="name-title-overlay">
            <div class="name">Anandita Mukherjee</div>
          </div>
          <div class="overlay">
            In snatches of time pulled from her admittedly very busy sophomore schedule, Anandita is a jack-of-all(-iGEM)-trades. She also plays volleyball, has been known to paint, and (insanely) solves logic puzzles for fun. A beloved 6th grade teacher led her to join iGEM, a decision that has ultimately benefited the entire team.
          </div>
        </div>
        <!--Ansh-->
        <div class="team-member-square">
          <img src="https://static.igem.wiki/teams/5761/team/members/ansh-thakkar.webp" alt="Ansh Thakkar photo">
          <div class="name-title-overlay">
            <div class="name">Ansh Thakkar</div>
          </div>
          <div class="overlay">
            Ansh is a senior at Khan Lab School and co-founder of the KLS iGEM team. He enjoys cooking, gardening and experimenting with technology in his free time.
          </div>
        </div>
        <!--Aria-->
        <div class="team-member-square">
          <img src="https://static.igem.wiki/teams/5761/team/members/aria-patel.webp" alt="Aria Patel photo">
          <div class="name-title-overlay">
            <div class="name">Aria Patel</div>
          </div>
          <div class="overlay">
            Aria is a 9th grader at Khan Lab School who enjoys creative writing, baking, and reading mystery novels.
          </div>
        </div>
        <!--Avery-->
        <div class="team-member-square">
          <img src="https://static.igem.wiki/teams/5761/team/members/averydavis.webp" alt="Avery Davis photo">
          <div class="name-title-overlay">
            <div class="name">Avery Davis</div>
          </div>
          <div class="overlay">
            Avery is an 11th grader at Khan Lab School and is probably tied with Paul for the best sleep schedule. Avery enjoys reading, tea, plant science, and GIS mapping.
          </div>
        </div>
        <!--Khushi-->
        <div class="team-member-square">
          <img src="https://static.igem.wiki/teams/5761/team/members/khushi-thakkar.webp" alt="Khushi Thakkar photo">
          <div class="name-title-overlay">
            <div class="name">Khushi Thakkar</div>
          </div>
          <div class="overlay">
            Khushi is a 10th grader at Khan Lab School who enjoys writing fiction, exploring math, looking/creating maps, and taking trains!
          </div>
        </div>
        <!--Meilin-->
        <div class="team-member-square">
          <img src="https://static.igem.wiki/teams/5761/team/members/meilin-hansen.webp" alt="Meilin Hansen photo">
          <div class="name-title-overlay">
            <div class="name">Meilin Hansen</div>
          </div>
          <div class="overlay">
            MeiLin, a 12th grader at Gunn High School in Palo Alto, loves music—both playing cello and listening to her favorite bands. Her other passions include robotics, good food, and puzzles.
          </div>
        </div>
        <!--Nick-->
        <div class="team-member-square">
          <!--Update photo!!!-->
          <img src="https://static.igem.wiki/teams/5761/team/members/nickh.webp" alt="Nicholas Hernandez photo">
          <div class="name-title-overlay">
            <div class="name">Nicholas Hernandez</div>
          </div>
          <div class="overlay">
            Nick is a senior at Khan Lab School and co-founder of the KLS iGEM team. In his free time, he enjoys archery and rock climbing.
          </div>
        </div>
        <!--Nikhil-->
        <div class="team-member-square">
          <!--Update photo!!!-->
          <img src="https://static.igem.wiki/teams/5761/team/members/bee-placeholder.webp" alt="Nikhil Venkat photo">
          <div class="name-title-overlay">
            <div class="name">Nikhil Venkat</div>
          </div>
          <div class="overlay">
            Nikhil is a 9th grader at Khan Lab School. In his free time, he enjoys swimming, hanging out with friends, playing the piano, and exploring animations and simulations. You can often find him yapping about dinosaurs, astrophysics or molecular biology.
          </div>
        </div>
        <!--Paul-->
        <div class="team-member-square">
          <!--Update photo!!!-->
          <img src="https://static.igem.wiki/teams/5761/team/members/paul-norberg.webp" alt="Paul Norberg photo">
          <div class="name-title-overlay">
            <div class="name">Paul Norberg</div>
          </div>
          <div class="overlay">
            Paul is an 11th grader who goes to school in Mountain View. In his spare time, he likes to play the piano, go on long walks, and participate in mock trial competitions.
          </div>
        </div>
        <!--Rohan-->
        <div class="team-member-square">
          <!--Update photo!!!-->
          <img src="https://static.igem.wiki/teams/5761/team/members/bee-placeholder.webp" alt="Rohan Vijendran photo">
          <div class="name-title-overlay">
            <div class="name">Rohan Vijendran</div>
          </div>
          <div class="overlay">
            Rohan is a 9th grader who lives in Mountain View, California and goes to Bellarmine College Prep. He likes to play the bass, debate, and play table tennis.
          </div>
        </div>
        <!--Sameer-->
        <div class="team-member-square">
          <!--Update photo!!!-->
          <img src="https://static.igem.wiki/teams/5761/team/members/sameer.webp" alt="Sameer Rajdev photo">
          <div class="name-title-overlay">
            <div class="name">Sameer Rajdev</div>
          </div>
          <div class="overlay">
            Sameer is a 10th grader at Khan Lab School, who enjoys building things and coding. He is particularly interested in creating tools and prototypes that bridge creativity and engineering.
          </div>
        </div>
        <!--Sara-->
        <div class="team-member-square">
          <!--Update photo!!!-->
          <img src="https://static.igem.wiki/teams/5761/team/members/bee-placeholder.webp" alt="Sara Kawamoto photo">
          <div class="name-title-overlay">
            <div class="name">Sara Kawamoto</div>
          </div>
          <div class="overlay">
            Sara is a 12th grader at Khan Lab School. She is passionate about art, graphic design, and creative media, with an interest in incorporating design into science communication.
          </div>
        </div>
        <!--Shreeya-->
        <div class="team-member-square">
          <img src="https://static.igem.wiki/teams/5761/team/members/shreeya.webp" alt="Shreeya Kurapati photo">
          <div class="name-title-overlay">
            <div class="name">Shreeya Kurapati</div>
          </div>
          <div class="overlay">
            Shreeya is a 9th grader going to Khan Lab School. She likes to do research, build cool stuff, travel, and read mystery novels.
          </div>
        </div>
        <!--Zoya-->
        <div class="team-member-square">
          <!--Update photo!!!-->
          <img src="https://static.igem.wiki/teams/5761/team/members/zoya.webp" alt="Zoya Khare photo">
          <div class="name-title-overlay">
            <div class="name">Zoya Khare</div>
          </div>
          <div class="overlay">
            Zoya is a 10th grader at Khan Lab School with a vested interest in making involved presentations about obscure historical figures, avoiding schoolwork by doing literally anything else, and reading. In the KLS iGEM team, her role consists of pontificating and social media.
          </div>
        </div>
    </div>
  </div>
</div>

<!--Mentors-->
<div class="container">
  <div class="row">
    <div class="col-12 d-flex flex-wrap justify-content-center">
      <h1 class="w-100 text-center mb-4">Mentors</h1>
        <!--Baxter-->
        <div class="team-member-square">
          <img src="https://static.igem.wiki/teams/5761/team/members/baxter-smith.webp" alt="Baxter Smith photo">
          <div class="name-title-overlay">
            <div class="name">Baxter Smith</div>
          </div>
          <div class="overlay">
            Baxter is the PI, and also serves as the Innovation Hub Director at KLS, guiding students from project design through hands-on lab work and outreach. A dedicated educator in experiential, student-driven learning, he’s also an avid frisbee player and outdoor enthusiast.
          </div>
        </div>
        <!--Chris-->
        <div class="team-member-square">
          <img src="https://static.igem.wiki/teams/5761/team/members/christopher-hernandez.webp" alt="Christopher Hernandez photo">
          <div class="name-title-overlay">
            <div class="name">Christopher Hernandez</div>
          </div>
          <div class="overlay">
            Chris is a professor in the departments of Orthopaedic Surgery and Bioengineering and Therapeutic Sciences at UCSF and the department of Bioengineering at UC Berkeley. He enjoys encouraging the team to create golf tees.
          </div>
        </div>
        <!--Jenny Mae-->
        <div class="team-member-square">
          <img src="https://static.igem.wiki/teams/5761/team/members/jenny-mae.webp" alt="Jenny Mae Samson photo">
          <div class="name-title-overlay">
            <div class="name">Jenny Mae Samson</div>
          </div>
          <div class="overlay">
            Jenny Mae is the team's advisor with a Ph.D. in Cancer Biology and a B.A. in Biochemistry. She is an accomplished researcher with advanced lab and bioinformatics experience and now works in patenting.
          </div>
        </div>

        <!--Shreyas-->
        <div class="team-member-square">
          <img src="https://static.igem.wiki/teams/5761/team/members/bee-placeholder.webp" alt="Shreyas Parkhie photo">
          <div class="name-title-overlay">
            <div class="name">Shreyas Parkhie</div>
          </div>
          <div class="overlay">
            Insert description!!!
          </div>
        </div>
        
        <!--Galen-->
        <div class="team-member-square">
          <img src="https://static.igem.wiki/teams/5761/team/members/galen-davis.webp" alt="Galen Davis photo">
          <div class="name-title-overlay">
            <div class="name">Galen Davis</div>
          </div>
          <div class="overlay">
            Insert description!!!
          </div>
        </div>
        <!--Wilfred-->
        <div class="team-member-square">
          <img src="https://static.igem.wiki/teams/5761/team/members/bee-placeholder.webp" alt="Wilfred Tang photo">
          <div class="name-title-overlay">
            <div class="name">Wilfred Tang</div>
          </div>
          <div class="overlay">
            Insert description!!!
          </div>
        </div>
        <!--Smruti-->
        <div class="team-member-square">
          <img src="https://static.igem.wiki/teams/5761/team/members/smruti.webp" alt="Smruti Vidwans photo">
          <div class="name-title-overlay">
            <div class="name">Smruti Vidwans</div>
          </div>
          <div class="overlay">
            Insert description!!!
          </div>
        </div>
    </div>
  </div>
</div>

{% endblock %}
