{% extends "layout.html" %}

{% block title %}Parts{% endblock %}
{% block lead %}
    <div class="page-header" id="parts-header">
        <h1>Parts</h1>
    </div>
{% endblock %}

{% block page_content %}

<div class="container my-4" id="header-padding">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">BioBrick</th>
                <th scope="col">Description</th>
                <th scope="col">Page</th>
            </tr>
        </thead>
        <tbody>
            <!--row 1-->
            <tr>
                <td>BBa_25UQFFQ8</td>
                <td>Basic part. N-terminal region of csgA, derived from Birnbaum, Daniel P et al., 2021.</td>
                <td><a href="https://registry.igem.org/parts/bba-25uqffq8 ">https://registry.igem.org/parts/bba-25uqffq8</a></td>
            </tr>
            <!--row 2-->
            <tr>
                <td>BBa_25SEZAYP</td>
                <td>Basic part. F14 linker, as described in Birnbaum, Daniel P et al., 2021. </td>
                <td><a href="https://registry.igem.org/parts/bba-25sezayp">https://registry.igem.org/parts/bba-25sezayp</a></td>
            </tr>
            <!--row 3-->
            <tr>
                <td>BBa_259GV1IH</td>
                <td>Composite part. This is the csgA-sazCA fusion protein, derived from Birnbaum, Daniel P et al., 2021, and BBa_K4665120.</td>
                <td><a href="https://registry.igem.org/parts/bba-259gv1ih">https://registry.igem.org/parts/bba-259gv1ih</a></td>
            </tr>
            <!--row 4-->
            <tr>
                <td>BBa_25A8Q07G</td>
                <td>Composite part. This is the entire csg-sazCA operon, which works to transport and secrete the curli fiber with the sazCA attached to csgA.</td>
                <td><a href="https://registry.igem.org/parts/bba-25a8q07g">https://registry.igem.org/parts/bba-25a8q07g</a></td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}
