{% extends "layout.html" %}

{% block title %}Parts Library{% endblock %}
{% block lead %}
    <div class="page-header" id="parts-header">
        <h1>Parts</h1>
    </div>
{% endblock %}

{% block page_content %}

<div class="container mb-4">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">BioBrick</th>
                <th scope="col">Description</th>
                <th scope="col">Page</th>
            </tr>
        </thead>
        <tbody>
            <!--row 1-->
            <tr>
                <td>BBa_25UQFFQ8</td>
                <td>Basic part. N-terminal region of csgA, derived from Birnbaum, Daniel P et al., 2021.</td>
                <td><a href="https://registry.igem.org/parts/bba-25uqffq8" target="_blank">https://registry.igem.org/parts/bba-25uqffq8</a></td>
            </tr>
            <!--row 2-->
            <tr>
                <td>BBa_25SEZAYP</td>
                <td>Basic part. F14 linker, as described in Birnbaum, Daniel P et al., 2021. </td>
                <td><a href="https://registry.igem.org/parts/bba-25sezayp" target="_blank">https://registry.igem.org/parts/bba-25sezayp</a></td>
            </tr>
            <!--row 3-->
            <tr>
                <td>BBa_259GV1IH</td>
                <td>Composite part. This is the csgA-sazCA fusion protein, derived from Birnbaum, Daniel P et al., 2021, and BBa_K4665120.</td>
                <td><a href="https://registry.igem.org/parts/bba-259gv1ih" target="_blank">https://registry.igem.org/parts/bba-259gv1ih</a></td>
            </tr>
            <!--row 4-->
            <tr>
                <td>BBa_25A8Q07G</td>
                <td>Composite part. This is the entire csg-sazCA operon, which works to transport and secrete the curli fiber with the sazCA attached to csgA.</td>
                <td><a href="https://registry.igem.org/parts/bba-25a8q07g" target="_blank">https://registry.igem.org/parts/bba-25a8q07g</a></td>
            </tr>
            <!--row 5-->
            <tr>
                <td>BBa_25J7AMCD*</td>
                <td>Composite part. This is the pET_csg-sazCA_Amp plasmid we used for our experiments. It produces the csg-sazCA fusion protein. </td>
                <td><a href="https://registry.igem.org/parts/bba-25j7amcd" target="_blank">https://registry.igem.org/parts/bba-25j7amcd</a></td>
            </tr>
            <!--row 6-->
            <tr>
                <td>BBa_25A80I7T*</td>
                <td>Composite part. This is the pET_csg(H6)_Amp plasmid we used for our experiments. It produces curli fiber with a hist-tag.</td>
                <td><a href="https://registry.igem.org/parts/bba-25a80i7t" target="_blank">https://registry.igem.org/parts/bba-25a80i7t</a></td>
            </tr>
            <!--row 7-->
            <tr>
                <td>BBa_25QC0VIK*</td>
                <td>Composite part. This is the curli and urease plasmid we designed for experimentation.</td>
                <td><a href="https://registry.igem.org/parts/bba-25qc0vik" target="_blank">https://registry.igem.org/parts/bba-25qc0vik</a></td>
            </tr>
        </tbody>
    </table>
    <p>
        *These plasmid constructs were synthesized by a third party, but all experimentation was performed by the team.
    </p>
    <div id="references">
        <h1>References</h1>
        <p>Birnbaum, D. P., Manjula‐Basavanna, A., Kan, A., Tardy, B. L., & Joshi, N. S. (2021). Hybrid living capsules autonomously produced by engineered bacteria. Advanced Science, 8(11). https://doi.org/10.1002/advs.202004699 </p>
        <p>Zhu, Y., Liu, Y., Ai, M., & Jia, X. (2021). Surface display of carbonic anhydrase on Escherichia coli for CO2 capture and mineralization. Synthetic and Systems Biotechnology, 7(1), 460–473. https://doi.org/10.1016/j.synbio.2021.11.008</p>
    </div>
</div>

{% endblock %}
