{% extends "layout.html" %}
  
{% block title %}Plant{% endblock %}
{% block lead %}This award is designed to celebrate exemplary work done in plant synthetic biology.{% endblock %}

{% block page_content %}

<p><strong>strong tag</strong></p>
<p><b>b tag</b></p>
<p><i>i tag</i></p>
<p><b><i>b + i tag</i></b></p>
<p>I am Shreeya</p>

<hr/>

<!--Default scrollspy (for reference)-->

<div data-bs-spy="scroll" data-bs-target="#myScrollspy" data-bs-offset="80" tabindex="0">

  <div class="container">
    <div class="row">
      <!-- Scrollspy Sidebar -->

      <nav class="col-2" id="myScrollspy">
        <div class="d-none d-lg-block sticky-lg-top">
          <nav class="nav nav-pills flex-column">
            <a class="nav-link" href="#overview">Overview</a>
              <a class="nav-link ms-3 my-1" href="#phillip">Dr. Phillip Kyriakakis</a>
        </div>
      </nav>
      
      <!-- Main Content -->
      <div class="col-10" id="bumper">
        <div id="overview" class="mb-5">
          <h1>Overview</h1>
          <p>In developing our project, we sought to use research and expert outreach to tailor our project to the potential communities it would serve. We talked to stakeholders at each phase of the project, gaining valuable feedback on our ideas and prototypes. This process allowed us to discover the most practical path forward for our project and make sure we were using our time well.</p>
          <div id="phillip">
            <h2>Phillip</h2>
            <p>phillip</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
