{% extends "layout.html" %}
  
{% block title %}Plant{% endblock %}
{% block lead %}This award is designed to celebrate exemplary work done in plant synthetic biology.{% endblock %}

{% block page_content %}

<div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>Best Plant Synthetic Biology</h4>
      <p><strong>strong tag</strong></p>
      <p><b>b tag</b></p>
      <p><i>i tag</i></p>
      <p><b><i>b + i tag</i></b></p>
      <p>I am Shreeya</p>
      <p>This award is designed to celebrate exemplary work done in plant synthetic biology. Did you build a project in a plant chassis? Did you submit plant parts to the Registry? This award could also be given to a team working with algae or another eukaryotic photosynthetic chassis. Show us what you made and remember to adhere to iGEM safety guidelines!</p>
      <p><i>Note: Photosynthetic bacteria cannot be considered for this prize.</i></p>
      <hr />
      <p>Visit the <a href="https://competition.igem.org/judging/special-prizes">Special Prizes page</a> for more information.</p>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col">
    <h2>Inspirations</h2>
    <hr />
    <ul>
      <li><a href="https://2024.igem.wiki/marburg/plant">2024 Marburg</a></li>
      <li><a href="https://2024.igem.wiki/scu-china/plant">2024 SCU-China</a></li>
      <li><a href="https://2023.igem.wiki/marburg/plant">2023 Marburg</a></li>
      <li><a href="https://2023.igem.wiki/zju-china/plant">2023 ZJU-China</a></li>
      <li><a href="https://2023.igem.wiki/tsinghua-tfl/plant">2023 Tsinghua-TFL</a></li>
    </ul>
  </div>
</div>

<hr/>
<body data-bs-spy="scroll" data-bs-target="#myScrollspy" data-bs-offset="20">

  <div class="container">
    <div class="row">
      <!-- Scrollspy Sidebar -->
      <nav class="col-md-3" id="myScrollspy">
        <nav class="nav nav-pills flex-column">
          <a class="nav-link" href="#section1">Section 1</a>
          <a class="nav-link" href="#section2">Section 2</a>
          <a class="nav-link" href="#section3">Section 3</a>
        </nav>
      </nav>

      <!-- Main Content -->
      <div class="col-md-9">
        <div id="section1" class="mb-5">
          <h1>Section 1</h1>
          <h2>h2 heading</h2>
          <h3>h3 heading</h3>
          <p>Try to scroll this page and look at the navigation list while scrolling!</p>
        </div>
        
        <div id="section2" class="mb-5">
          <h1>Section 2</h1>
          <h2>h2 heading</h2>
          <h3>h3 heading</h3>
          <p>Try to scroll this page and look at the navigation list while scrolling!</p>
        </div>
        
        <div id="section3" class="mb-5">
          <h1>Section 3</h1>
          <h2>h2 heading</h2>
          <h3>h3 heading</h3>
          <p>Try to scroll this page and look at the navigation list while scrolling!</p>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}
