{% extends "layout.html" %}

{% block title %}Safety and Security{% endblock %}
{% block lead %}
    <div class="page-header" id="safety-header">
        <h1>Safety and Security</h1>
    </div>
{% endblock %}

{% block page_content %}

<div class="row">
    <div class="col">
        <h1>Safety equipment</h1>
        <p>The lab that we work with, Biocurious, is equipped with several safety measures that aim to keep all occupants of the labs safe. All of the safety precautions that are used in Biocurious are in accordance with the federal biosafety levels. We have access to an eyewash station, masks, spill cleanup kits, fire extinguishers, and a biosafety cabinet. This ensures that if an accident is to occur, we are able to properly handle it.
        </p>
        <h1>Personal Protective Equipment</h1>
        <p>At our lab we take measures to remain as safe as possible, as we are ultimately responsible for our own safety. All Biocurious occupants also are properly equipped with PPE including gloves, lab coats, and close-toed shoes to provide a basic level of protection from hazardous chemicals. 
        </p>
        <p>Further specific PPE including heat resistant gloves and face shields are available and used when contact with additional hazards are anticipated.
        </p>
        <h1>Storage and Disposal</h1>
        <p>All items stored in the lab are labeled with the name of the creator, the chemical, the date made, and any potential hazards the chemical may pose. For disposal we autoclave or bleach live bacteria before disposing of them. The lab also provides a disposal bin for glass and a biohazard waste disposal bin.      </p>
    </div>
</div>

{% endblock %}
