{% extends "layout.html" %}

{% block title %}Software{% endblock %}
{% block lead %}
    <div class="page-header" id="home-header"><!--todo change header id-->
        <h1>Software</h1>
    </div>
{% endblock %}
{% block page_content %}

<link rel="stylesheet" href="/static/bootstrap.min.css">
<link rel="stylesheet" href="/static/style.css">

<div class="grid">
  <h1 style = "position: absolute; top: 340px; left: 410px; z-index:2; font-size: 60px;">Brainstorm</h1>
  <div class = "octo"></div>
  <h1 style = "position: absolute; top: 340px; left: 760px; z-index:2; font-size: 60px;">Implementation</h1>
  <div class = "octo"></div>
  <h1 style = "position: absolute; top: 635px; left: 445px; z-index:2; font-size: 60px;">Product</h1>
  <div class = "octo"></div>
  <h1 style = "position: absolute; top: 635px; left: 870px; z-index:2; font-size: 60px;">Impact</h1>
  <div class = "octo"></div>
</div>

{% endblock %}



