body { padding-top: 56px; 
    font-family:"Proxima Nova";
}
.left-aligned { margin-left: auto; }
.bg-dark { background-color: #982F44 !important; }
.bg-hero { background-color: #C5B7B3; 
  -webkit-text-stroke: 1px black;
}

/* Proxima nova font */
@font-face { 
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    src: 
      url(https://static.igem.wiki/teams/5761/other/proximanova-regular.ttf) format("truetype");
  }

/* CALLOUT */
.bd-callout { padding:1.25rem; margin-top:1.25rem; margin-bottom:1.25rem; border:1px solid #e9ecef; border-left-width:.25rem; border-radius:.25rem }
.bd-callout h4 { margin-bottom: 1.25rem }
.bd-callout p:last-child { margin-bottom:0 }
.bd-callout code { border-radius:.25rem }
.bd-callout+.bd-callout { margin-top:-.25rem }
.bd-callout-info { border-left-color:#5bc0de }
.bd-callout-warning { border-left-color:#f0ad4e }
.bd-callout-danger { border-left-color:#d9534f }

/* Team members page */

/* Team Member Squares */
.team-member-section {
  margin: 40px 0;
  text-align: center;
}

.team-member-square {
  position: relative;
  width: 300px;
  height: 350px;
  margin: 10px;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.team-member-square img {
  width: 100%;
  height: auto;
  display: block;
}

.name-title-overlay {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  transition: opacity 0.3s ease;
  border-radius: 20px;
}

.team-member-square:hover .overlay {
  opacity: 1;
}

.team-member-square:hover {
  transform: scale(1.05);
}

/*autoscroll*/
.autoscroll { overflow: hidden; white-space: nowrap; position: relative; width: 80vw; margin: 20px; border-radius: 20px; }
.autoscroll::after { content: ""; width: 80vw; height: 150px; background: linear-gradient(to right, #ffffff 0%, transparent 10%, transparent 90%, #ffffff 100%); display: flex; position: absolute; top: 0; }
.scroll-container { display: inline-flex; align-items: center; animation: scroll 75s linear infinite; gap: 50px; transform: translateX(100%); justify-content: space-around; padding-right: 50px; }
.autoscroll:hover .scroll-container { animation-play-state: paused; }
.scroll-container img { display: inline-block; margin-right: 10px; height: 150px; background-color: white; border-radius: 20px; padding: 10px; }
@keyframes scroll { 0% { transform: translateX(0); } 100% { transform: translateX(-100%); } }


/* footer */
footer a { color: white; font-weight: bold; text-decoration: none; }
footer a:hover { color: white; text-decoration: underline; }
